---
layout: default
---
<div class="content about_container">
  <div class="hero">
    <div class="row justify-content-center text-center">
      <div class="col col-lg-10">
        <h1>
          Real problems and uniquely framed solutions in a real world environment.
        </h1>
        <p>
          Vowpal Wabbit is an open, fast, and efficient online learning system that empowers you to explore, test, and research solutions for a real world impact. Through online learning and community collaboration, you can apply real data sets for meaningful results.
        </p>
      </div>
    </div>
  </div>
  {% include mission.html %}
  {% include values.html %}
  {% include publications.html %}
</div>
