---
layout: default
body_class: features
page_title: Features | Vowpal Wabbit
---

<div class="content features_container">
  <div class="hero">
    <div class="container">
      <div class="row justify-content-center text-center">
        <div class="col-lg-8">
          <h1>
            What does Vowpal Wabbit do?
          </h1>
          <p class="description">
            Vowpal Wabbit provides a fast, flexible, and open interactive machine learning solution for reinforcement learning, supervised learning, and other machine learning paradigms.
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="feature_detail_container">
    <div class="container">
      {% include tabs.html items=site.feature_details %}
    </div>
  </div>

  <div class="how_it_works_container">
    <div class="container">
      <div class="how_it_works_content">
        <div class="row">
          <div class="col-12 col-lg-9">
            <h2>
              How it works
            </h2>
            <p>
              In order to understand how Vowpal Wabbit works, you first need to understand what kind of problem you are trying to solve. The most common problem applications include <strong>reductions</strong> and <strong>contextual bandits</strong>.
            </p>
          </div>
        </div>

        <div class="reductions_container">
          <div class="row">
            <div class="col-12 col-md-6">
              <h4>
                Anatomy of a reduction stack
              </h4>
              <div class="reductions_content">
                  Many problems in machine learning can be efficiently reduced to other solved problems in machine learning. This allows one to derive many important bounds of one algorithm in terms of other well-known and efficient algorithms. We call this a <strong>reduction stack</strong>.
              </div>
            </div>
            <div class="col-12 col-md-6">
              <img alt="flowchart for reduction stack" src="assets/images/feature_details/reduction_stack.jpg">
            </div>
          </div>
          <div class="row">
            <div class="col-12 col-md-6">
              <h4>Real-world reduction</h4>
              <div class="reductions_content">
                Vowpal Wabbit supports solutions to a range of real-world problems through reductions to standard learning algorithms. This versatility empowers you to frame learning problems effectively and achieve the best solution.
              </div>
            </div>
          </div>
          <div class="row justify-content-center">
            <div class="col-12 col-md-8">
              <img alt="flowchart for real world reductions" src="assets/images/feature_details/real_world_reduction.jpg">
            </div>
          </div>
        </div>

        <div class="examples_container">
          <div class="row">
            <div class="col-12">
              <h4>
                Community contributions
              </h4>
              <div class="row">
                <div class="col-12 col-lg-6 examples_content">
                  Vowpal Wabbit is a mature, open source project and the result of community contributions and research since 2007. Hosted on GitHub, people all over the world contribute code and research to Vowpal Wabbit technology.
                  <br><br>
                  See community examples on GitHub and contribute to the development of Vowpal Wabbit technology.
                </div>
                <div class="col-12 col-lg-6 examples_content">
                  <div class="examples_header">
                    Examples on GitHub
                  </div>
                  <ul>
                    <li>
                      <a
                        href="{{ site.github.jupyter_notebook_source_url }}/blob/master/Contextual_bandits_and_Vowpal_Wabbit.ipynb"
                        target="_blank"
                      >
                        Contextual bandits and Vowpal Wabbit
                      </a>
                    </li>
                    <li>
                      <a
                        href="{{ site.github.jupyter_notebook_source_url }}/blob/master/Simulating_a_news_personalization_scenario_using_Contextual_Bandits.ipynb"
                        target="_blank"
                      >
                        Simulating a news personalization scenario using Contextual Bandits
                      </a>
                    </li>
                  </ul>

                  <div>
                    <a
                      href="https://github.com/VowpalWabbit/vowpal_wabbit/wiki/Examples"
                      target="_blank"
                      class="github_link"
                    >
                      {% include svg/github.svg %}
                      <div class="more_examples_label">
                        More examples on GitHub
                      </div>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="get_started_container">
    <div class="container">
      <div class="row justify-content-center text-center">
        <div class="col-lg-8 col-sm-12">
          <h2>
            Get started with Vowpal Wabbit
          </h2>
          <p class="description">
            Install Vowpal Wabbit and start exploring with easy-to-access tutorials and documentation.
          </p>
          <div class="get_started_buttons">
            <div class="row justify-content-center">
              <div class="col-12 col-sm col-lg-4">
                <a href="{{ 'start.html' | relative_url }}">
                  Get started
                </a>
              </div>
              <div class="col-12 col-sm col-lg-4 tutorials_button">
                <a href="{{ 'tutorials.html' | relative_url }}">
                  Tutorials
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
