---
layout: default
body_class: home
---
<div class="content">
  {% include hero.html %}

  <div class="problem_framing_intro_container">
    <div class="container">
      <div class="row justify-content-center text-center">
        <div class="col-12 col-lg-6">
          <h2>
            Unique research tricks and capabilities
          </h2>
        </div>
      </div>
    </div>
  </div>

  <div class="problem_framing_container">
    {% include tabs.html items=site.problem_framing %}
  </div>

  {% include start.html %}

  <div class="research_container">
    <div class="container">
      <div class="row justify-content-center justify-content-lg-between text-center text-lg-left">
        <div class="col-lg-8">
          {% include research_intro.html %}
          <div>
            For more detail on research, visit the Vowpal Wabbit
            <a href="https://github.com/VowpalWabbit/vowpal_wabbit/wiki#research" target="_blank">Bibliography</a>.
          </div>
        </div>
        <div class="col-6 col-lg-3">
          <img class="file_icon" src="assets/images/research/file.svg" />
        </div>
      </div>
    </div>
  </div>

  {% include community.html %}
</div>
