---
layout: default
body_class: home
---
<div class="content">
  <div class="hero_container">
    <div class="container">
      <div class="row justify-content-center text-center">
        <div class="col-lg-8 col-sm-12">
          <h1>
            For Online Learning
          </h1>
          <p class="description">
            Vowpal Wabbit (VW) is the mature open-source online machine learning library for solutions to a wide variety of problems. VW pushes the frontier of machine learning with techniques for online, active, and interactive learning as well as contextual bandits, extreme multiclass, hashing and learning2search.
          </p>
          <div class="hero_buttons">
            <div class="row justify-content-center">
              <div class="col-12 col-sm col-lg-4">
                <a class="get_started_button" href="#">
                  Get started
                </a>
              </div>
              <div class="col-12 col-sm col-lg-4">
                <a
                  href="https://github.com/VowpalWabbit/vowpal_wabbit/wiki"
                  target="_blank"
                >
                  Documentation
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="problem_framing_container">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 col-lg-6">
          <h2>
            Unique research tricks and capabilities
          </h2>
        </div>
      </div>
      {% include tabs.html items=site.problem_framing %}
    </div>
  </div>

  {% include start.html %}

  <div class="research_container">
    <div class="container">
      <div class="row justify-content-center justify-content-lg-between text-center text-lg-left">
        <div class="col-lg-8">
          {% include research_intro.html %}
          <div>
            For more detail on research, visit the Vowpal Wabbit
            <a href="https://github.com/VowpalWabbit/vowpal_wabbit/wiki#research" target="_blank">Bibliography</a>.
          </div>
        </div>
        <div class="col-6 col-lg-3">
          <img alt="file icon" class="file_icon" src="assets/images/research/file.svg" />
        </div>
      </div>
    </div>
  </div>

  {% include community.html %}
</div>
