---
layout: default
body_class: home
page_title: Vowpal Wabbit
page_description: Vowpal Wabbit provides a fast, flexible, online, and active learning solution that empowers you to solve complex interactive machine learning problems.
header_class: dark
---

<div class="content">
  <div class="hero_container">
    <div class="container hero_content">
      <div class="row">
        {% include edit_button.html %}
        <div class="col-lg-8 col-sm-12">
          <h1>
            Your go-to interactive machine learning library
          </h1>
          <p class="description">
            Vowpal Wabbit provides a fast, flexible, online, and active learning solution that empowers you to solve complex interactive machine learning problems.
          </p>
          <div class="hero_buttons">
            <div class="row">
              <div class="col-12 col-sm col-lg-4">
                <a href="{{ 'start.html' | relative_url }}">
                  Get started
                </a>
              </div>
              <div class="col-12 col-sm col-lg-4 tutorials_button">
                <a href="{{ 'tutorials.html' | relative_url }}">
                  Tutorials
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-lg-4">
          <img alt="rabbit illustration for hero" src="assets/images/hero/rabbit.svg"/>
        </div>
      </div>
    </div>
  </div>

  <div class="features_container">
    <div class="container">
      <div class="row justify-content-center text-center">
        <div class="col-12 col-lg-8">
          <h2>
            What does Vowpal Wabbit do?
          </h2>

          <p class="description">
            Vowpal Wabbit provides fast, efficient, and flexible online machine learning techniques for reinforcement learning, supervised learning, and more.

            It is influenced by an ecosystem of community contributions, academic research, and proven algorithms. Vowpal Wabbit is sponsored by
            <a href="https://www.microsoft.com/en-us/research/lab/microsoft-research-new-york/" target="_blank">
              Microsoft Research
            </a>.
          </p>
        </div>
      </div>

      {% assign features = site.features | sort: 'order' %}
      <div class="row features">
        {% for feature in features %}
          <div class="col text-center">
            <div class="feature_icon">
              <img alt="image for feature" src={{feature.illustration}} />
            </div>
            <p>
              {{ feature.name }}
            </p>
          </div>
        {% endfor %}
      </div>

      <div class="learn_more_link">
        <a href="{{ 'features.html' | relative_url }}">
          Learn more
        </a>
      </div>
    </div>
  </div>

  <div class="install_vw_container" id="install_vw">
    <div class="container">
      <div class="row">
        <div class="col-12 col-xl-4">
          <h2>
            Install Vowpal Wabbit
          </h2>
          <div class="description text-center text-xl-left">
            For more information on installation requirements, building Vowpal Wabbit from source, or using a package manager read the
            <a href="https://github.com/VowpalWabbit/vowpal_wabbit/wiki/Installing" target="_blank">
              installation wiki.
            </a>
            Additional binary packages are available for select platforms.
          </div>
          <div class="links">
            <a href="{{ 'tutorials.html' | relative_url }}">
              Explore all tutorials
            </a>
          </div>
        </div>
        {% include install_vw.html %}
      </div>
    </div>
  </div>

  <div class="research_container">
    <div class="container">
      <div class="row justify-content-center justify-content-lg-between text-center text-lg-left">
        <div class="col-12 col-xl-6">
          <img alt="chart" class="chart_icon" src="assets/images/research/chart.svg" />
        </div>

        <div class="col research_description">
          <div class="content">
            <h2>
              A vehicle for machine learning research
            </h2>
            <p class="description">
              Vowpal Wabbit’s design is informed and influenced by advanced interactive and online learning research.
            </p>
            <div>
              For more details on the research driving Vowpal Wabbit
              <a href="{{ 'research.html' | relative_url }}">
                visit the Vowpal Wabbit publications list.
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  {% include community.html %}
</div>
