---
layout: null
---

<!doctype html>
<html lang="en">
  {% include head.html %}
  <body class='publications'>
    {% include header.html header_class="light" %}
    <div class="container content publications_container">
      <div class="vw_breadcrumb">
        <a class="home" href="{{ site.url }}{{ site.baseurl }}">
          Home
        </a>
        <span class="title">
          Publications
        </span>
      </div>
      <h1>
        Publications
      </h1>
      <div class="row">
        <div class="col-10">
          {% bibliography %}
        </div>
      </div>
    </div>
    {% include footer.html %}
  </body>
</html>
