---
layout: default
---

<div class="resources_details_container content">
  <div class="header">
    <h1>
      Resources
    </h1>
    <p class="description">
      All things VW, research, documentation and in-depth guides.
    </p>
  </div>

  {% assign documentations = site.documentations | sort: 'order' %}
  {% assign guides = site.guides | sort: 'order' %}

  <div>
    <div class="sub_header">
      <h2>
        Documentation
      </h2>
      <a class="resource_link" href="documentation">
        View All Documentation >
      </a>
    </div>
    <div class="row">
      {% for doc in documentations %}
        <div class="col-lg-3 col-sm">
          <div class="resource">
            <div class="icon">
              <img src={{doc.icon}}>
            </div>
            <p class="title">
              {{doc.title}}
            </p>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>

  <div>
    <div class="sub_header">
      <h2>
        Guides and Tutorials
      </h2>
      <a class="resource_link" href="#">
        View All Guides and Tutorials >
      </a>
    </div>

    <div class="row">
      {% for guide in guides %}
        <div class="col-lg-3 col-sm">
          <div class="resource">
            <div class="icon">
              <img src={{guide.image}}>
            </div>
            <p class="title">
              {{guide.title | truncate: 20}}
            </p>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>

  <div>
    <div class="sub_header">
      <h2>
        Research
      </h2>
      <a class="resource_link" href="#">
        View All Research >
      </a>
    </div>
    <div class="row">
      {% for doc in documentations %}
        <div class="col-lg-3 col-sm">
          <div class="resource">
            <div class="icon">
              <img src={{doc.icon}}>
            </div>
            <p class="title">
              {{doc.title}}
            </p>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</div>
