---
layout: default
body-class: resources
---

<div class="content resources_container">
  <div class="hero">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <h1>
            Resources
          </h1>
          <p>
            All things VW, research, documentation and in-depth guides.
          </p>
        </div>
      </div>
    </div>
  </div>

  {% assign documentation = site.documentation | sort: 'order' %}
  {% assign guides = site.guides | sort: 'order' %}
  {% assign papers = site.papers | sort: 'order' %}

  <div class="resource_section">
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="header">
            <h3>
              Documentation
            </h3>
            <a
              class="resource_link"
              href="https://github.com/VowpalWabbit/vowpal_wabbit/wiki"
              target="_blank"
            >
              View All Documentation >
            </a>
          </div>
        </div>
      </div>
      <div class="row">
        {% for doc in documentation %}
          <div class="col-lg-3 col-sm">
            <div class="resource">
              <div class="icon">
                {% include {{doc.resource_icon}} %}
              </div>
              <p class="title">
                {{doc.title}}
              </p>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>

  <div class="resource_section">
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="header">
            <h3>
              Guides and Tutorials
            </h3>
            <!-- <a class="resource_link" href="{{ 'guides' | relative_url}}">
              View All Guides and Tutorials >
            </a> -->
          </div>
        </div>
      </div>
      <div class="row">
        {% for guide in guides %}
          <div class="col-lg-3 col-sm">
            <div class="resource">
              <div class="icon">
                {% include {{guide.resource_icon}} %}
              </div>
              <p class="title">
                <a href="{{ guide.url | relative_url }}">
                  {{guide.title}}
                </a>
              </p>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>

  <div class="resource_section">
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="header">
            <h3>
              Research
            </h3>
            <a
              class="resource_link"
              href="https://www.microsoft.com/en-us/research/project/real-world-reinforcement-learning/#!publications"
              target="_blank"
            >
              View All Research >
            </a>
          </div>
        </div>
      </div>
      <div class="row">
        {% for paper in papers %}
          <div class="col-lg-3 col-sm">
            <div class="resource">
              <div class="icon">
                {% include {{paper.resource_icon}} %}
              </div>
              <p class="title">
                <a href="{{paper.link}}" target="_blank">
                  {{paper.title}}
                </a>
              </p>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
{% include install_vw.html %}
