---
layout: default
body_class: start
page_title: Get Started | Vowpal Wabbit
page_description: Vowpal Wabbit quick installation and getting started tutorials.
---

<div class="content start_container">
  <div class="hero">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <h1>
            Get started
          </h1>
          <p>
            Get started quickly with our quick install and tutorials
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="install_vw_container" id="install_vw">
    <div class="container">
      <div class="row justify-content-between">
        {% include install_vw.html %}

        <div class="col-12 col-xl-3">
          <div class="description text-center text-xl-left">
            Vowpal Wabbit can be built from source easily. Binary packages are available for select platforms.
          </div>

          <div class="links">
            <a href="https://github.com/VowpalWabbit/vowpal_wabbit/wiki/Building" target="_blank">
              More details
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  {% assign tutorials = site.tutorials | sort: 'order' %}
  {% assign gitter = site.communities | where: "community_id", "gitter" | first %}

  <div class="tutorials_container">
    <div class="container">
      <h2>
        Tutorials
      </h2>
      <div class="row intro">
        <div class="col-12 col-lg-6">
          Learn, explore, and experiment using our tutorials below.
        </div>
        <div class="col-12 all_tutorials_link">
          <a href="{{ 'tutorials.html' | relative_url }}">
            All tutorials
          </a>
        </div>
      </div>
      <div class="row">
        {% for tutorial in tutorials limit:3 %}
          <div class="col-12 col-md-6 col-lg-4">
            <div class="tutorial_card">
              <div class="header">
                {{tutorial.level}}
              </div>
              <div class="title">
                <h4>
                  {{tutorial.title}}
                </h4>
              </div>
              <div class="description">
                {{tutorial.description}}
              </div>

              <div class="footer">
                <a href="{{ tutorial.url | relative_url }}">
                  Start
                </a>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
