---
layout: default
body_class: tutorials
page_title: Tutorials | Vowpal Wabbit
page_description: Explore Vowpal Wabbit and learn with easy-to-access tutorials and documentation.
---

<div class="content tutorials_container">
  <div class="hero">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <h1>
            Tutorials
          </h1>
          <p>
            Learn, explore, and experiment using our tutorials below.
          </p>
        </div>
      </div>
    </div>
  </div>

  {% assign tutorials = site.tutorials | sort: 'order' %}
  {% assign communities = site.communities | sort: 'order' %}

  <div class="tutorials_list">
    <div class="container">
      <div class="row">
        {% for tutorial in tutorials %}
          <div class="col-12 col-md-6 col-lg-4">
            <div class="tutorial_card">
              <h4>
                {{tutorial.title}}
              </h4>
              <div class="tags">
                <span class="tag">
                  {{tutorial.level}}
                </span>
                {% for tag in tutorial.tags %}
                  <span class="tag">
                    {{tag}}
                  </span>
                {% endfor %}
              </div>
              <div class="description">
                {{tutorial.description}}
              </div>

              {% assign tutorial_link = tutorial.link %}
              {% unless tutorial_link %}
                {% assign tutorial_link = tutorial.url | relative_url %}
              {% endunless %}

              <div class="footer">
                <a target="_blank" href="{{ tutorial_link }}">
                  Start
                </a>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>

<div class="col-12 content help_section_container text-center">
  <div class="container">
    <h2>
      Need help?
    </h2>
    <div class="row justify-content-center">
      <p class="col-12 col-md-8 col-lg-6 description">
        See the latest code, ask QA, or chat with a team of experts and community to get answers to your questions.
      </p>
    </div>

    <div class="row justify-content-center align-items-center">
      <div class="col-12 col-md-6 col-lg-5 links">
        {% for community in communities %}
          <a href="{{community.link}}" target="_blank">
            {% include {{community.logo}} %}
            {{ community.title }}
          </a>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
