<div class="container breakdown_container">
  <div class="row justify-content-center text-center">
    <div class="col col-lg-6">
      <h2>
        Solving Problem Framing Lorem
      </h2>
      <div class="description">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm feature_bg">
      <div class="d-flex flex-column feature_content">
        <span class="feature_icon">
          <img src="../assets/images/breakdown/online_learning_icon.svg"/>
        </span>
        <span class="feature_name">
          Online learning
        </span>
      </div>
    </div>
    <div class="col-sm feature_bg">
      <div class="d-flex flex-column feature_content">
        <span class="feature_description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </span>
      </div>
    </div>
    <div class="col-sm feature_bg">
      <div class="d-flex flex-column feature_content">
        <span class="feature_icon">
          <img src="../assets/images/breakdown/Input_Format_Icon.svg"/>
        </span>
        <span class="feature_name">
          Input format
        </span>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 offset-md-4">
      <div class="breakdown_buttons">
          <a href="#">
            Learn More
          </a>
          <a href="#">
            All Features
          </a>
      </div>
    </div>
  </div>
</div>
