<div class="container breakdown_container">
  <div class="row">
    <div class="col-sm">
      <h1 class="hero_header">
        Solving Problem Framing Lorem
      </h1>
      <p class="description">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Consectetur adipiscing elit ut aliquam purus sit amet luctus venenatis. Cursus eget nunc scelerisque viverra mauris in. Habitant morbi tristique senectus et netus et malesuada fames. In hendrerit gravida rutrum quisque non tellus orci. Egestas sed sed risus pretium quam vulputate dignissim suspendisse. Enim ut sem viverra.
      </p>
    </div>
    <div class="col-sm">
      <div class="animated_image">
        Animated Image
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm">
      <div class="feature">
        <span class="feature_text">
          Online learning
        </span>
      </div>
    </div>
    <div class="col-sm">
      <div class="feature">
        <span class="feature_text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </span>
      </div>
    </div>
    <div class="col-sm">
      <div class="feature">
        <span class="feature_text">
          Something else
        </span>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 offset-md-4">
      <div class="breakdown_learn_more">
        <a href="#">
          Learn More
        </a>
      </div>
    </div>
  </div>
</div>
