{% assign communities = site.communities | sort: 'order' %}

<div class="container community_container">
  <div class="row justify-content-center text-center">
    <div class="col col-lg-8">
      <h2>
        Join the community
      </h2>
      <div class="description">
        Vowpal Wabbit thrives on its community. There are lots of ways to get involved. Chat with the development team or other community members on Gitter. Get involved by contributing code, or documentation, on GitHub. Or, ask a question on StackOverflow.
      </div>
    </div>
  </div>
  <div class="row justify-content-center text-center">
    {% for community in communities %}
      <div class="col-sm col-lg-4">
        <div class="community">
          <div class="icon">
            <img src={{community.logo}}>
          </div>
          <h3 class="community_title">
            {{ community.title }}
          </h3>
          <p>
            {{ community.description }}
          </p>

          <div class="join_community_link">
            <a href={{github.link}} target="_blank">
              {{community.link_text}}
            </a>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>
