{% assign github = site.communities
    | where_exp:"community", "community.community_id == 'github'"
    | first
%}
{% assign gitter = site.communities
    | where_exp:"community", "community.community_id == 'gitter'"
    | first
%}
{% assign stackoverflow = site.communities
    | where_exp:"community", "community.community_id == 'stackoverflow'"
    | first
%}
<div class="container community_container">
  <div class="community_content">
    <div class="row justify-content-center text-center">
      <div class="col col-lg-8">
        <h2>
          Join the community
        </h2>
        <div class="description">
          Vowpal Wabbit thrives on its community. There are lots of ways to get involved. Chat with the development team or other community members on Gitter. Get involved by contributing code, or documentation, on GitHub. Or, ask a question on StackOverflow.
        </div>
      </div>
    </div>
    <div class="row justify-content-center text-center">

      <div class="col-sm col-lg-4 community">
        <div class="icon">
          <img src={{github.logo}}>
        </div>
        <h3 class="community_title">
          {{ github.title }}
        </h3>
        <p>
          {{ github.description }}
        </p>

        <div class="join_community_link">
          <a href={{github.link}} target="_blank">
            Contribute to GitHub
          </a>
        </div>
      </div>

      <div class="col-sm col-lg-4">
        <div class="row justify-content-center">
          <div class="community">
            <div class="icon small">
              <img src={{stackoverflow.logo}}>
            </div>
            <h3 class="community_title">
              {{ stackoverflow.title }}
            </h3>
            <p>
              {{ stackoverflow.description }}
            </p>

            <div class="join_community_link">
              <a href={{stackoverflow.link}} target="_blank">
                Ask your questions
              </a>
            </div>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="community">
            <div class="icon small">
              <img src={{gitter.logo}}>
            </div>
            <h3 class="community_title">
              {{ gitter.title }}
            </h3>
            <p>
              {{ gitter.description }}
            </p>

            <div class="join_community_link">
              <a href={{gitter.link}} target="_blank">
                Join the conversation
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
