<div class="container demo_container">
  <div class="row">
    <div class="col-sm">
      <div class="text-center">
        <h2>
          Select Your Use Case
        </h2>
        <p>
          Learn how VW works, based on the specific issue that you need to solve for your product.
        </p>
      </div>

      <div class="nav">
        <button class="active" data-module_id="reductions">
          Reductions
        </button>
        <button data-module_id="optimization">
          Optimization
        </button>
        <button data-module_id="performance_enhancement">
          Performance Enhancement
        </button>
      </div>

      <div class="demos">
        {% assign demos = site.demos | sort: 'order' %}
        {% for demo in demos %}
          <div class="row {% if demo.order != 1 %}hidden{% endif %}" data-module_id={{demo.module_id}}>
            <div class="col-sm col-lg-6">
              <h2>
                {{ demo.title }}
              </h2>
              <p class="description">
                {{ demo.description }}
              </p>
              <div class="demo_link">
                <a href={{demo.demo_link}}>
                  {{demo.demo_link_text}} >
                </a>
              </div>
            </div>
            <div class="col-sm col-lg-6">
              <div class="image">
                <img src={{demo.image}}>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
