<div class="container footer_container">
  <div class="row">
    <div class="col-sm">
      <p class="title">
        Logo
      </p>
      <p class="title">Sponsors</p>
      <div>
        image for Sponsors
      </div>
    </div>
    <div class="col-sm">
      <p class="title">Vowpal Wabbit</p>
      <div class="d-flex flex-column">
        <a href="#">Home</a>
        <a href="#">About</a>
        <a href="#">Learn</a>
        <a href="#">Resources</a>
        <a href="#">Community</a>
      </div>
    </div>
    <div class="col-sm">
      <p class="title">Resources</p>
      <div class="d-flex flex-column">
        <a href="#">Title</a>
        <a href="#">Title</a>
        <a href="#">Title</a>
        <a href="#">Title</a>
        <a href="#">Title</a>
      </div>
    </div>
  </div>
</div>
