<div class="container footer_container">
  <div class="row">
    <div class="col-sm">
      <p class="title">
        Logo
      </p>
      <p class="title">Sponsors</p>
      <div>
        image for Sponsors
      </div>
    </div>
    <div class="col-sm">
      <p class="title">Vowpal Wabbit</p>
      <div class="d-flex flex-column">
        <a href="{{ site.baseurl }}/">Home</a>
        <a href="{{ site.baseurl }}/about">About</a>
        <a href="{{ site.baseurl }}/learn">Learn</a>
        <a href="{{ site.baseurl }}/resources">Resources</a>
        <a href="#">Community</a>
      </div>
    </div>
    <div class="col-sm">
      <p class="title">Resources</p>
      <div class="d-flex flex-column">
        <a href="#">Title</a>
        <a href="#">Title</a>
        <a href="#">Title</a>
        <a href="#">Title</a>
        <a href="#">Title</a>
      </div>
    </div>
  </div>
</div>
