<div class="container">
  <div class="row">
    <div class="col-sm">
      <p>
        Logo
      </p>
      <p>Sponsors</p>
      <div>
        image for Sponsors
      </div>
    </div>
    <div class="col-sm">
      <p>Vowpal Wabbit</p>
      <a href="#">Home</a>
      <a href="#">About</a>
      <a href="#">Learn</a>
      <a href="#">Resources</a>
      <a href="#">Community</a>
    </div>
    <div class="col-sm">
      <p>Resources</p>
      <a href="#">Title</a>
      <a href="#">Title</a>
      <a href="#">Title</a>
      <a href="#">Title</a>
      <a href="#">Title</a>
    </div>
  </div>
</div>
