{% assign guides = site.guides | sort: 'order' %}

<div class="container guides_container">
  <div class="row">
    <div class="col col-lg-6">
      <h1>
        Getting started lorem ipsum dolor consect
      </h1>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      </p>
      <div class="start_tutorial_link">
        <a href="#">
          Get started tutorial
        </a>
      </div>
    </div>
    <div class="col col-lg-6">
    </div>
  </div>
</div>
