<div class="container">
  <div class="row">
    <div class="col-sm">
      <h2>
        Beginner Guide
      </h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Consectetur adipiscing elit ut aliquam purus sit amet luctus venenatis.
      </p>
      <div class="learn_more_link">
        <a href="#">
          Learn More
        </a>
      </div>
    </div>
    <div class="col-sm">
      <h2>
        Advanced Guide
      </h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Consectetur adipiscing elit ut aliquam purus sit amet luctus venenatis.
      </p>
      <div class="learn_more_link">
        <a href="#">
          Learn More
        </a>
      </div>
    </div>
  </div>
</div>
