{% assign current = page.url | downcase | remove: ".html" | split: '/' %}
{% assign header_class = include.header_class %}

<div class="navbar_container {{header_class}}">
  <div class="container navbar">
    <div class="logo">
      <a href="{{ site.url }}{{ site.baseurl }}">
        {% include svg/logo.svg %}
      </a>
    </div>

    <div class="nav">
      <a href="{{ 'publications' | relative_url }}">
        Research
      </a>

      <a
        href="{{ 'publications' | relative_url }}"
        class='{% if current[1] == "publications" %}active{% endif %}'
      >
        Research
      </a>

      <a
        href="https://github.com/VowpalWabbit/vowpal_wabbit/wiki"
        target="_blank"
      >
        Documentation
      </a>

      <a
        href="https://github.com/VowpalWabbit/vowpal_wabbit"
        target="_blank"
        class="github_link"
      >
        {% include svg/github.svg %}
        GitHub
      </a>
    </div>
  </div>
</div>

<script src="{{ site.baseurl }}/assets/js/header.js"></script>
