{% assign current = page.url | downcase | remove: ".html" | split: '/' %}

<div class="container-fluid nav_bar_container">
  <div class="container navbar navbar-expand-lg">
    <div class="logo">
      <a href="{{ site.url }}{{ site.baseurl }}">
        {% include svg/logo.svg %}
      </a>
    </div>

    <div class="nav">
      <a
        href="https://github.com/VowpalWabbit/vowpal_wabbit"
        target="_blank"
        class="nav_item github_link"
      >
        {% include svg/github.svg %}
      </a>
    </div>
  </div>
</div>
