<div class="container hero_container">
  <div class="row">
    <div class="col-lg-6">
      <h1 class="hero_header">
        The Best Tool for Online Learning
      </h1>
      <p class="description">
        Vowpal Wabbit is a machine learning system which pushes the frontier of machine learning with techniques such as online, hashing, allreduce, reductions, learning2search, active, and interactive learning.
      </p>
      <div class="hero_buttons">
          <a href="#">
            Get Started
          </a>
          <a href="#">
            Documentation
          </a>
      </div>
    </div>
  </div>
</div>
