<div class="hero_container">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-sm-6">
        <h1>
          Ecosystem for Online Learning
        </h1>
        <p>
          Vowpal Wabbit is a machine learning system which pushes the frontier of machine learning with techniques such as online learning, hashing, allreduce, content relevancy, learning2search, active, and interactive learning.
        </p>
        <div class="hero_buttons">
            <a href="{{ 'learn' | relative_url }}">
              Get started
            </a>
            <a
              href="https://github.com/VowpalWabbit/vowpal_wabbit/wiki"
              target="_blank"
            >
              Documentation
            </a>
        </div>
      </div>

      <div class="col-lg-4 rabbit">
        <img src="assets/images/home/hero/rabbit.svg" />
      </div>
    </div>
  </div>
</div>
