<div class="hero_container">
  <div class="container">
    <div class="row">
      <div class="col col-sm col-lg-8">
        <h1>
          Ecosystem for Online Learning
        </h1>
        <p>
          Vowpal Wabbit is a machine learning system which pushes the frontier of machine learning with techniques such as online learning, hashing, allreduce, content relevancy, learning2search, active, and interactive learning.
        </p>
        <div class="hero_buttons">
            <a href="{{ 'learn' | relative_url }}">
              Get started
            </a>
            <a href="{{ 'documentation' | relative_url }}">
              Documentation
            </a>
        </div>
      </div>

      <div class="col-sm col-lg-4 rabbit">
        {% include svg/hero_rabbit.svg %}
      </div>
    </div>
  </div>
</div>
