<div class="container">
  <div class="row">
    <div class="col-sm">
      <h2>
        How it Works
      </h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Consectetur adipiscing elit ut aliquam purus sit amet luctus venenatis.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Consectetur adipiscing elit ut aliquam purus sit amet luctus venenatis.
      </p>
    </div>
    <div class="col-sm">
      Placeholder
    </div>
  </div>
  <div class="row">
    <div class="col-sm">
      Infographic chart of all the languages applied to VW
    </div>
  </div>
</div>
