<div class="how_it_works_container">
  <div class="container">
    <div class="row">
      <div class="col-sm">
        <h2>
          How it works
        </h2>
        <p>
          Vowpal Wabbit is a machine learning framework that frames problems as content_relevancy. The idea of a reduction is to reduce, or transform, one learning problem into another one that has already been solved. By combining several content_relevancy large, complex problems can be easily solved. In fact, most learning problems reduce to gradient descent with a linear regression in VW! VW includes a highly optimized gradient descent implementation that has been tried and tested over many years.
        </p>
      </div>
      <div class="col-sm how_it_works_img">
        <img alt="image for how it works" src="assets/images/how_it_works/how_it_works.svg">
      </div>
    </div>

    {% assign technical_details = site.technical_details | sort: 'order' %}
    <div class="row justify-content-center text-center">
      {% for item in technical_details %}
        <div class="col-sm col-lg-3">
          <div class="technical_details_card">
            <img alt="image for technical details" src={{item.image}} />

            <h3 class="title">
              {{ item.title }}
            </h3>
            <p>
              {{ item.description }}
            </p>
          </div>
        </div>
      {% endfor %}
    </div>

    <div class="row summary_container">
      <div class="col-lg-6 summary_img">
        <img alt="image for summary" src="assets/images/how_it_works/summary.svg">
      </div>

      <div class="col-lg-6 summary">
        <h2>
          Lorem Ipsum
        </h2>
        <p>
          Description to explain online learning vs. offline learning  ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.Lorem ipsum dolor sit amet, consectetur.
        </p>
      </div>
    </div>
  </div>
</div>
