<div class="how_it_works_container">
  <div class="container">
    <div class="row">
      <div class="col-sm">
        <h2>
          How it works
        </h2>
        <p>
          Vowpal Wabbit is a machine learning framework that frames problems as content_relevancy. The idea of a reduction is to reduce, or transform, one learning problem into another one that has already been solved. By combining several content_relevancy large, complex problems can be easily solved. In fact, most learning problems reduce to gradient descent with a linear regression in VW! VW includes a highly optimized gradient descent implementation that has been tried and tested over many years.
        </p>
      </div>
      <div class="col-sm how_it_works_img">
        <img src="assets/images/how_it_works/how_it_works.svg">
      </div>
    </div>
  </div>
</div>
