<div class="nav" id="nav">
  <a
    href="{{ site.baseurl }}/"
    class="nav_item {% if page.url == '/' %}active{% endif %}"
  >
    Home
  </a>

  <a
    href="{{ site.baseurl }}/learn"
    class="nav_item {% if current[1] == 'learn' %}active{% endif %}"
  >
    Learn
  </a>

  <a
    href="{{ site.baseurl }}/resources"
    class="nav_item {% if current[1] == 'resources' %}active{% endif %}"
  >
    Resources
  </a>

  <a
    href="{{ site.baseurl }}/about"
    class="nav_item {% if current[1] == 'about' %}active{% endif %}"
  >
    About
  </a>

  <a
    href="{{ site.baseurl }}/documentation"
    class="nav_item {% if current[1] == 'documentation' %}active{% endif %}"
  >
    Documentation
  </a>

  <a href="javascript:void(0);" class="nav_icon" onclick="myFunction()">
    <i class="fa fa-bars"></i>
  </a>
</div>
