{% assign papers = site.papers | sort: 'order' %}

<div class="container research_container">
  <div class="row justify-content-center">
    <div class="col-lg-6 research_highlight_description">
      <h2>
        Ongoing research that explores and informs the potential of Vowpal Wabbit
      </h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Consectetur adipiscing elit ut aliquam purus sit amet luctus venenatis.
      </p>
      <a href="#">
        All papers >
      </a>
    </div>
    <div class="col-lg-6">
      {% include paper.html paper=papers.first %}
    </div>
  </div>
</div>
