{% assign papers = site.papers | sort: 'order' %}

<div class="container research_container">
  <div class="row justify-content-center">
    <div class="col-lg-6 research_highlight_description">
      <h2>
        Ongoing research that explores and informs the potential of Vowpal Wabbit
      </h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Consectetur adipiscing elit ut aliquam purus sit amet luctus venenatis.
      </p>
      <a href="#">
        All papers >
      </a>
    </div>
    <div class="col-lg-6 reserach_spotlight">
      <h4 class="text-center">
        Research Spotlight
      </h4>
      <h3 class="paper_title">
        {{papers.first.title}}
      </h3>
      <p class="authors">
        {{papers.first.authors}}
      </p>
      <div class="tags">
        <span class="label">
          TAGS:
        </span>
        <span>
          {% for tag in papers.first.tags %}
            <span class="tag">
              {{tag}}
            </span>
          {% endfor %}
        </span>
      </div>
      <div class="read_paper_link">
        <a href={{papers.first.link}}>
          Read the paper
        </a>
      </div>
    </div>
  </div>
</div>
