<div class="container">
  <h1>
    Resources
  </h1>
  <div class="nav">
    <a href="#">
      Title
    </a>
    <a href="#">
      Title
    </a>
    <a href="#">
      Title
    </a>
    <a href="#">
      Title
    </a>
  </div>
  <div class="row">
    <div class="col-sm">
      <p>
        Title
      </p>
    </div>
    <div class="col-sm">
      <p>
        Title
      </p>
    </div>
    <div class="col-sm">
      <p>
        Title
      </p>
    </div>
    <div class="col-sm">
      <p>
        Title
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm">
      <p>
        Title
      </p>
    </div>
    <div class="col-sm">
      <p>
        Title
      </p>
    </div>
    <div class="col-sm">
      <p>
        Title
      </p>
    </div>
    <div class="col-sm">
      <p>
        Title
      </p>
    </div>
  </div>
</div>
