{% assign resources = site.resources | sort: 'order' %}

<div class="container resources_container">
  <h2 class="text-center header">
    Resources
  </h2>

  <div class="row">
    {% for resource in resources %}
      <div class="col-lg-3 col-sm">
        <div class="resource">
          <div class="icon">
            <img src={{resource.icon}}>
          </div>
          <p class="title">
            {{resource.title}}
          </p>
        </div>
      </div>
    {% endfor %}
  </div>
</div>
