<div class="container resources_container">
  <h2 class="text-center">
    Resources
  </h2>
  <div class="nav_container">
    <div class="nav justify-content-between">
      <a href="#">
        Title
      </a>
      <a href="#">
        Title
      </a>
      <a href="#">
        Title
      </a>
      <a href="#">
        Title
      </a>
    </div>
  </div>
  <div class="row">
    <div class="col-sm">
      <p>
        Title
      </p>
    </div>
    <div class="col-sm">
      <p>
        Title
      </p>
    </div>
    <div class="col-sm">
      <p>
        Title
      </p>
    </div>
    <div class="col-sm">
      <p>
        Title
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm">
      <p>
        Title
      </p>
    </div>
    <div class="col-sm">
      <p>
        Title
      </p>
    </div>
    <div class="col-sm">
      <p>
        Title
      </p>
    </div>
    <div class="col-sm">
      <p>
        Title
      </p>
    </div>
  </div>
</div>
