<div class="start_container" id="get_started">
  <div class="container">
    <div class="start_section">
      <h2 class="text-center">
        Get started
      </h2>
      <div class="row settings_container">
        <div class="col-12 col-xl-4">
          <div class="description text-center text-xl-left">
            Vowpal Wabbit can be built from source easily and there are binary packages available for select platforms.
          </div>
        </div>

        <div class="col-12 col-xl-8 settings">
          <div class="row">
            <div class="col-lg-2">
              <div class="title">
                OS Type
              </div>
            </div>
            <div class="col-lg-10">
              <div class="row os">
                <div class="col-lg-4 col-sm col-12">
                  <button class="option">
                    Linux
                  </button>
                </div>
                <div class="col-lg-4 col-sm col-12">
                  <button class="option">
                    Mac
                  </button>
                </div>
                <div class="col-lg-4 col-sm col-12">
                  <button class="option">
                    Windows
                  </button>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-lg-2">
              <div class="title">
                Language
              </div>
            </div>
            <div class="col-lg-10">
              <div class="row language">
                <div class="col-lg-3 col-sm col-12">
                  <button class="option">
                    Python 3
                  </button>
                </div>
                <div class="col-lg-3 col-sm col-12">
                  <button class="option">
                    C++
                  </button>
                </div>
                <div class="col-lg-3 col-sm col-12">
                  <button class="option">
                    C#
                  </button>
                </div>
                <div class="col-lg-3 col-sm col-12">
                  <button class="option disabled" disabled>
                    * Java
                  </button>
                </div>
              </div>
            </div>
          </div>

          <div class="row justify-content-end">
            <div class="col-lg-10 note">
              * Configuration option coming soon
            </div>
          </div>
        </div>
        <div class="col-12 command_container">
          <div class="run_command">
            Run command:
          </div>
          <div class="row command_box">
            <div class="col">
              <div class="command">
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="next_step_container">
        <h2 class="text-center">
          Next steps
        </h2>

        <div class="row justify-content-center text-center">
          <div class="col-12">
            Run through a simple linear regression problem and learn how VW works.
          </div>
        </div>
          {% assign getting_started = site.guides | where: "module_id","getting_started" | first %}
        <div class="row justify-content-center text-center">
          <a href="{{ getting_started.url | relative_url}}"
            class="tutorial_link"
          >
            Begin tutorial
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="{{ site.baseurl }}/assets/start.js"></script>
