<div class="container-fluid start_container">
  <div class="container start_section">
    <div class="text-center">
        First step is to get VW by either:

        <a href="https://github.com/VowpalWabbit/vowpal_wabbit/wiki/Dependencies" >Building from source</a> <br/>

        Or, installing with a package manager.
        <div>
            apt-get
            sudo apt-get install vowpal-wabbit (Current version 8.6.1)
        </div>
        <div>
            Homebrew
            brew install vowpal-wabbit (Current version 8.6.1)
        </div>
        <div>
            <a href="https://pypi.org/project/vowpalwabbit/">Pypi</a>
            pip install vowpalwabbit (Currently version 8.5)
        </div>
    </div>
  </div>
</div>
