{% assign item = include.item %}

<div class="row">
  <div class="col-sm text-center text-md-left">
    <h3>
      {{ item.title }}
    </h3>
    <p class="description">
      {{ item.description }}
    </p>

    {% if item.link %}
      <div class="link">
        <a href={{item.link}} target="_blank">
          {{item.link_text}}
        </a>
      </div>
    {% endif %}
  </div>

  <div class="col-sm order-lg-last order-first">
    <div class="image">
      <img src={{item.image}}>
    </div>
  </div>
</div>
