{% assign items = include.items | sort: 'order'%}

<div class="col-sm col-lg-2 sub_nav">
  {% for item in items %}
    <button
      class="nav_item {% if item.order == 1 %}active{% endif %}"
      data-module_id={{item.module_id}}
    >
      {{item.tab}}
    </button>
  {% endfor %}
</div>

<div class="col col-lg-10">
  {% for item in items %}
    <div
      class="{% if item.order != 1 %}hidden{% endif %}"
      data-module_id={{item.module_id}}
    >
      {% include tab_content.html item=item %}
    </div>
  {% endfor %}
</div>
