<div class="col-sm-12 col-lg-2 sub_nav">
  {% for item in sub_module_items %}
    <button
      class="{% if item.order == 1 %}active{% endif %}"
      data-module_id={{item.module_id}}
    >
      {{item.tab}}
    </button>
  {% endfor %}
</div>

<div class="col col-lg-6">
  {% for item in sub_module_items %}
    <div
      class="{% if item.order != 1 %}hidden{% endif %}"
      data-module_id={{item.module_id}}
    >
      {% include tab_content.html item=item %}
    </div>
  {% endfor %}
</div>
