{% assign items = include.items | sort: 'order' %}

<div class="tabs_container">
  <div class="row">
    <div class="col-lg-3">
      <div class="nav">
        {% for item in items %}
          <button
            class="col-12 {% if item.order == 1 %}active{% endif %}"
            data-module_id={{item.module_id}}
          >
            <span class="tab_text">
              {{item.tab}}
            </span>
          </button>
        {% endfor %}
      </div>
    </div>
    <div class="col-lg-9 tab_content_wrapper">
      <div class="tab_content">
        {% for item in items %}
          <div class="{% if item.order == 1 %}active_content{% endif %}" data-module_id={{item.module_id}}>
            {% if item.has_sub_module %}
              {% assign items = site.[item.module_id] | sort: 'order' %}
            {% else %}
              {% assign items = "" | split: ',' | push: item %}
            {% endif %}

            <div class="row">
              {% include tab_content.html items=items %}
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>

<script src="{{ site.baseurl }}/assets/js/tabs.js"></script>
