{% assign items = include.items | sort: 'order' %}

<div class="container tabs_container">
  <div class="row justify-content-center nav">
    <button class="col arrow">
      <
    </button>
    {% for item in items %}
      <button
        class="col col-lg-2 {% if item.order == 1 %}active{% endif %}"
        data-module_id={{item.module_id}}
      >
        {{item.tab}}
      </button>
    {% endfor %}
    <button class="col arrow">
      >
    </button>
  </div>

  <div class="tab_content">
    {% for item in items %}
      <div class="row {% if item.order != 1 %}hidden{% endif %}" data-module_id={{item.module_id}}>
        {% if item.sub_module_tabs %}
          {% include
            tab_content_with_sub_module.html
            items=site.reinforcement
          %}
        {% else %}
          {% include tab_content.html item=item %}
        {% endif %}
      </div>
    {% endfor %}
  </div>
</div>
