<div class="container tabs_container">
  <div class="nav">
    {% for item in include.items %}
      <button
        class="{% if item.order == 1 %}active{% endif %}"
        data-module_id={{item.module_id}}
      >
        {{item.title}}
      </button>
    {% endfor %}
  </div>

  <div class="content">
    {% for item in include.items %}
      <div class="row {% if item.order != 1 %}hidden{% endif %}" data-module_id={{item.module_id}}>
        <div class="col-sm">
          <h2>
            {{ item.title }}
          </h2>
          <p class="description">
            {{ item.description }}
          </p>
          <div class="learn_more_link">
            <a href={{item.learn_more_links}}>
              Learn More
            </a>
          </div>
        </div>
        <div class="col-sm">
          <div class="image">
            <img src={{item.image}}>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>
