<div class="container technical_details_container">
  <div class="nav">
    <a href="#">
      Contextual Bandits
    </a>
    <a href="#">
      Search
    </a>
    <a href="#">
      Multiclass Classifications
    </a>
  </div>

  {% assign technical_details = site.technical_details | sort: 'order' %}
  {% for item in technical_details %}
    <div class="row technical_details_intro">
      <div class="col-sm">
        <h2>
          {{ item.title }}
        </h2>
        <p class="description">
          {{ item.description }}
        </p>
        <div class="learn_more_link">
          <a href={{item.learn_more_links}}>
            Learn More
          </a>
        </div>
      </div>
      <div class="col-sm">
        <div class="image">
          <img src={{item.image}}>
        </div>
      </div>
    </div>
  {% endfor %}
</div>
