<div class="container">
  <div class="row">
    <div class="col-sm">
      <h2>
        Title of Section
      </h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Consectetur adipiscing elit ut aliquam purus sit amet luctus venenatis.
      </p>
    </div>
    <div class="col-sm">
      <p>
        01
      </p>
      <div>
        Placeholder
      </div>
      <h2>
        Title of Section
      </h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Consectetur adipiscing elit ut aliquam purus sit amet luctus venenatis.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm">
      <p>
        02
      </p>
      <div>
        Placeholder
      </div>
      <h2>
        Title of Section
      </h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Consectetur adipiscing elit ut aliquam purus sit amet luctus venenatis.
      </p>
    </div>
    <div class="col-sm">
      <p>
        03
      </p>
      <div>
        Placeholder
      </div>
      <h2>
        Title of Section
      </h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Consectetur adipiscing elit ut aliquam purus sit amet luctus venenatis.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm">
      <p>
        04
      </p>
      <div>
        Placeholder
      </div>
      <h2>
        Title of Section
      </h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Consectetur adipiscing elit ut aliquam purus sit amet luctus venenatis.
      </p>
    </div>
    <div class="col-sm">
      <p>
        05
      </p>
      <div>
        Placeholder
      </div>
      <h2>
        Title of Section
      </h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Consectetur adipiscing elit ut aliquam purus sit amet luctus venenatis.
      </p>
    </div>
  </div>
</div>
