.about_container {
  .hero {
    padding: 15rem 2rem;
    background: $bg-gray-10;
    color: white;
  }

  .features {
    padding: 4rem 2rem;
    background: $bg-gray-30;
    color: white;
  }

  .mission {
    background: $bg-gray-10;
    color: white;

    .mission_item {
      padding: 2rem;
    }
  }

  .values_container {
    padding: 4rem 2rem;
  }

  .values {
    padding: 2rem;
  }

  .team {
    background: $bg-gray-10;
    padding: 4rem 2rem;
    color: white;

    .contact_us_link {
      @include primary-link;
      padding: 0;
    }

    .image {
      background: lightgray;
      width: 10rem;
      height: 10rem;
      border-radius: 50%;
    }

    .member {
      margin: 0 auto;
      width: 10rem;
      padding: 1rem 0;
    }
  }

  .contributors {
    background: #828282;
    color: white;
    padding: 4rem 2rem;

    .contributor_link {
      @include primary-link;
      padding: 0;
    }
  }
}
