.about_container {
  .hero_container {
    background: $blue-10;
    padding: 15rem 0;
    color: white;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;

    .hero_buttons {
      @include primary-link;
    }

    .rabbit {
      top: 9rem;
      left: 8rem;
    }
  }

  .mission {
    background: $bg-gray-10;
    color: white;

    .mission_item {
      padding: 2rem;
    }
  }

  .values_container {
    padding: 4rem 2rem;

    .values {
      padding: 3rem 0 0;
    }

    .value {
      padding: 0.5rem;

      .title {
        font-size: 1.8rem;
        padding: 1rem 0;
      }

      img {
        width: 56px;
      }
    }
  }

  .contributors {
    background: $blue-30;
    color: white;
    padding: 4rem 2rem;

    .contributor_link {
      @include primary-link;
    }
  }
}
