.breakdown_container {
  background-color: gray;
  padding: 3rem 2rem;
  color: white;

  .learn_more_link {
    @include primary-link;
    padding: 1rem 0;
  }
}

.feature_bg {
  background-color: lightgray;
  border-radius: 50%;
  height: 19rem;
  line-height: 2rem;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 500;
  margin: 1.5rem;
}

.feature_content {
  position: relative;
  top: 4rem;
}

.feature_name {
  padding: 2rem;
}

.breakdown_buttons {
  @include primary-link;
  padding: 0;
}
