.case_studies_container {
  padding: 4rem 2rem;
  background: #ECECEC;

  .description {
    color: gray;
    font-size: 0.9rem;
    padding-bottom: 1rem;
  }

  .case_card {
    background: #A2A2A2;
    padding: 2rem;
    color: white;

    .header {
      padding-bottom: 2rem;
    }
  }
}
