.community_container {
  background: linear-gradient(180deg, rgba(48,114,157,1) 0%, rgba(0,191,214,1) 63%, rgba(12,210,194,1) 100%);
  color: white;
  padding: 5rem 0 0;

  .description {
    padding-bottom: 4rem;
  }

  .community {
    width: 17.5rem;
    height: 17rem;
    margin: 0.5rem auto;
    padding: 2rem 1rem;
    background-color: white;
    box-shadow: 0 2px 11px 0 rgba(168, 168, 168, 0.5);
    color: $primary-text;
    border-radius: 32px;
    box-shadow: 0 2px 11px 0 rgba(168,168,168,0.5);
  }

  .community_title {
    font-size: 1.3rem;
    padding: 1rem 0 0;
    font-weight: 400;
  }

  .community_description {
    font-size: 0.9rem;
  }

  .icon {
    svg {
      width: 60px;
      height: 60px;
      margin: 0 auto;

      path {
        fill: $blue-20;
      }
    }
  }

  .join_community_link {
    @include primary-link;
    padding: 0;
    position: absolute;
    bottom: 2.5rem;
    left: 0;
    right: 0;
    margin: auto;

    a {
      font-weight: 600;
      color: $blue-20;
      text-align: center;
      border: 2px solid $blue-20;
      margin: 0;

      &:hover {
        text-decoration: none;
        background: $blue-20;
        color: white;
      }
    }
  }
}

.community_footer {
  margin-top: 3rem;
  background-image: url("../assets/images/community/footer.svg");
  min-height: 30rem;
  background-repeat: repeat;
  background-size: auto 100%;
  background-position: center center;
}
