.command_box, pre.highlight {
  @include inline-link;

  min-height: 3.7rem;
  padding: 1rem;
  background-color: $blue-5;
  display: flex;
  justify-content: space-between;

  .copy {
    background: transparent;
    border: 0;
    color: $blue-20;
    align-self: flex-start;

    &:hover {
      color: $blue-10;
      cursor: pointer;
    }
  }
}

pre.highlight {
  margin: 1rem 0;
}
