.community_container {
  background: $bg-gray-30;
  padding: 6rem 4rem;

  .community_content {
    background: white;
    padding: 4rem 2rem;
  }

  .community {
    border: 1px solid lightgray;
    color: gray;
    padding: 2rem;
    margin: 0.5rem;
    width: 100%;
  }

  .community_title {
    font-size: 1.5rem;
    padding-top: 2rem;
    color: black;
    font-weight: 400;
  }

  .icon {
    img {
      width: 9rem;
      height: auto;
      margin: 0 auto;
    }

    &.small img{
      width: 4rem;
    }
  }

  .join_community_link {
    @include primary-link;
    padding: 0;

    a {
      color: black;
      font-weight: 500;
      border: 2px solid black;
    }
  }
}
