.community_container {
  background: $blue-20;
  color: white;
  padding: 5rem 1rem;

  .description {
    padding: 2rem 0 4rem;
  }

  .community {
    margin: 0.5rem auto;
    max-width: 23.8rem;
    background-color: white;
    color: $primary-text;

    .card_header {
      padding: 0 1.5rem;
      height: 12.5rem;
      background-color: $blue-5;
      box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1);

      .community_title {
        display: flex;
        align-items: center;
        padding: 1.5rem 0;

        .icon {
          padding-right: 0.5rem;

          svg {
            path {
              fill: $gray-50;
            }
          }
        }

        h3 {
          font-size: 1.125rem;
          font-weight: 600;
          line-height: 1.33;
          margin: 0;
          padding: 0;
          text-transform: uppercase;
        }
      }

      .community_description {
        font-size: 2.25rem;
        font-weight: 300;
        letter-spacing: -0.5px;
        line-height: 1.16;
      }
    }
  }

  .card_content {
    padding: 1.5rem 1.5rem 0;
    height: 15rem;
  }

  .loader_wrapper {
    height: 12rem;
    background-color: white;
    padding: 1.2rem;
  }

  @keyframes placeHolderShimmer {
    0%{
      background-position: -468px 0
    }

    100%{
      background-position: 468px 0
    }
  }

  .animated-background {
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: placeHolderShimmer;
    animation-timing-function: linear;
    background: linear-gradient(to right, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
    background-size: 800px 104px;
    height: 96px;
    position: relative;
  }

  .content-top,
  .content-second-line,
  .content-third-line {
    background: white;
    position: absolute;
    top: 40px;
    left: 0;
    right: 0;
    height: 6px;
  }

  .content-top {
    height:20px;
  }

  .content-second-line  {
    top: 68px;
  }

  .content-third-line {
    top: 82px;
  }

  .github {
    .card_content {
      .card_row {
        padding: 1.2rem 0;
        display: flex;
        justify-content: space-between;
        font-size: 1.125rem;
        line-height: 1.33;
        border-bottom: 1px solid $gray-10;

        &:last-child {
          border-bottom: 0;
        }
      }

      .card_label {
        display: flex;
        align-items: center;

        .icon {
          padding-right: 1rem;
          font-size: 1.5rem;
          color: $gray-50;
        }
      }
    }
  }

  .stackoverflow {
    .card_content {
      padding-top: 2.7rem;

      .title {
        font-weight: 600;
      }

      .question {
        max-height: 7.5rem;
      }

      .time {
        color: $gray-50;
        padding: 0.8rem 0;
      }
    }
  }

  .gitter {
    .card_content {
      padding-top: 2.7rem;

      .title {
        font-weight: 600;
      }

      .avatars {
        display: flex;
        justify-content: space-between;
      }

      .avatar img {
        height: 51px;
        width: 51px;
        border-radius: 5px;
        box-shadow: 0 3px 6px 0 rgba(0,0,0,0.15);
      }

      .note {
        color: $gray-50;
        padding: 2rem 0;
      }
    }
  }

  .card_footer {
    @include primary-link;
    padding-bottom: 1rem;

    a {
      width: 15rem;
      box-shadow: 0 10px 20px 3px rgba(0, 0, 0, 0.1);
      display: block;
      margin: 1rem auto;
    }
  }
}
