.download_container {
  @include primary-button;
  padding: 2rem 1rem;

  h1 {
    font-size: 1.125rem;
    line-height: 1.33;
    padding-bottom: 1rem;

    .header {
      text-transform: uppercase;
      font-weight: 600;
    }
  }

  .bibliography {
    background-color: $blue-5;
    font-family: 'Source Sans Pro', sans-serif;
    list-style-type: none;
    padding: 2rem;
    font-size: 1.125rem;
    line-height: 1.7;

    pre {
      white-space: pre-wrap;
    }
  }

  a.details {
    display: none;
  }
}
