.footer_container {
  background: $blue-20;
  padding: 2rem 2rem 0;
  color: white;

  .logo {
    padding-bottom: 2rem;
  }

  .title {
    font-weight: 600;
    font-size: 1rem;
  }

  a {
    color: lightgray;
    padding: 0.5rem 0;
  }
}
