.navbar_container {
  background: rgba(42, 59, 147, 0.95);
  height: 3.3rem;
  top: -240px;
  transition: top 0.5s ease;

  &.light {
    background: white;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1);

    a {
      color: $primary-text;
    }

    svg path {
      fill: $primary-text;
    }

    .github_link {
      border-left: 1px solid $gray-10;
    }
  }

  &.sticky {
    position: sticky;
    top: 0;
    z-index: 1;
  }

  a {
    display: inline-block;
    color: white;
  }

  .logo {
    width: 10rem;

    svg {
      width: 100%;
    }
  }

  .nav {
    a {
      margin: 0 0.8rem;
    }
  }

  .github_link {
    padding-left: 1.8rem;
    margin-left: 1rem;
    border-left: 1px solid rgba(255, 255, 255, 0.3);

    svg {
      margin-right: 0.5rem;
    }
  }
}
