.hero_container {
  background: $blue-50;
  padding: 10rem 1rem 8rem;
  color: white;

  .hero_buttons {
    @include primary-link;

    a {
      background: white;
      color: $blue-20;
      font-weight: 600;
      width: 100%;
      text-align: center;

      &:hover {
        text-decoration: none;
      }
    }
  }

  .rabbit {
    padding: 2rem;

    img {
      display: block;
      width: 55%;
      margin: 0 auto;
    }
  }
}
