.hero_buttons {
  @include primary-link;
}

.hero_container {
  padding: 15rem 0;
  color: white;
  background: url("../assets/images/hero/bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 1080px;

  .content {
    padding: 0 1.5rem;
  }

  .rabbit {
    width: 100%;
  }
}
