.learn_container {
  .learn_hero {
    color: $blue-20;
    background: white;
    padding: 15rem 0 8rem;
  }

  .description {
    color: $gray-10;
    font-size: 1.5rem;
  }

  .hero_buttons {
    @include primary-link;

    a {
      font-weight: 600;
      color: $blue-20;
      border: 3px solid $blue-20;
      border-radius: 11px;
    }
  }

  .guides_container {
    background: $blue-10;
  }

  .papers_container {
    background: $bg-gray-30;
    padding: 4rem 2rem;
    color: white;

    .description {
      font-size: 0.9rem;
      padding: 0.8rem 0;
    }

    a {
      color: white;
      font-size: 0.9rem;
      font-weight: 500;
    }
  }
}
