.learn_container {
  .learn_hero {
    color: white;
    background: #A5A5A5;
    padding: 5rem 0;
  }
}

.solve_problems_section {
  background: gray;
  color: white;
  padding: 2rem 0;
}
