.paper_card {
  background: white;
  border-radius: 20px;
  padding: 2rem;
  margin: 2rem 0;
  color: black;

  .title {
    padding: 1rem 0;
  }

  .authors {
    color: #333333;
    font-size: 0.9rem;
    padding-bottom: 2rem;
    border-bottom: 1px solid lightgray;
    margin-bottom: 0;
  }

  .tags {
    font-size: 0.9rem;
    padding:2rem 0;

    .tag {
      background: lightgray;
      padding: 0.2rem 0.5rem;
      margin: 0.25rem;
      display: inline-block;
    }
  }
}
