.resources_container {
  background: lightgray;
  padding: 4rem 2rem;

  .header {
    color: white;
  }

  .resource {
    background: white;
    padding: 2rem;
  }

  .icon img{
    margin: 0 auto;
    display: block;
    width: 5rem;
    height: 5rem;
  }

  .title {
    font-size: 1.2rem;
    text-align: center;
    padding-top: 1rem;
  }
}
