.start_container {
  background: linear-gradient(180deg, rgba(0,191,214,1) 0%, rgba(12,210,194,1) 100%);
  padding: 5rem 1rem;

  .start_section {
    background-color: white;
    border-radius: 20px;
    padding: 2rem 1rem;
  }

  .settings_container {
    padding-bottom: 1rem;
    margin: 0 1rem;
    border-bottom: 1px solid $dark-border;

    .settings {
      padding-top: 0.5rem;
    }

    .note {
      color: $note;
      font-size: 0.8rem;
    }

    .title {
      padding: 0.25rem 0.25rem 0.5rem;
    }

    .option {
      width: 100%;
      text-align: center;
      margin: 0 0 1rem;
      padding: 0.25rem;
      border-radius: 6.72px;
      background-color: white;
      box-shadow: 0 1px 8px 0 $dark-border;
      border: 0;
      color: $primary-text;

      &:hover {
        cursor: pointer;
      }

      &.disabled {
        color: $note;
        pointer-events: none;
      }
    }

    .selected .option {
      background: $blue-40;
      color: white;
    }

    .description {
      padding: 0.5rem 0;
    }
  }

  .next_step_container {
    padding: 1rem 1rem 0;

    .tutorial_link {
      display: inline-block;
      font-weight: 600;
      border: 3px solid black;
      border-radius: 11px;
      padding: 0.5rem;
      text-align: center;
      margin-top: 1.5rem;
      color: black;

      &:hover {
        text-decoration: none;
      }

      &:hover, &:focus {
        background: black;
        color: white;
      }
    }
  }

  .command_container {
    padding-top: 1rem;

    .run_command {
      font-weight: 600;
    }

    .command_box {
      background: $blue-30;
      color: white;
      padding: 0.7rem 1rem;
      margin: 1rem 0;

      a {
        color: $teal-10;
      }
    }

    .copy {
      background: transparent;
      border: 0;
      color: white;
      align-self: flex-start;

      &:hover {
        color: $teal-10;
        cursor: pointer;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .start_container {
    padding: 1rem;

    .settings_container {
      .option {
        padding: 0.5rem;
      }
    }
  }
}
