.start_container {
  background: $bg-gray-30;
  height: 40rem;

  .start_section {
    height: 30rem;
    width: 70%;
    background-color: white;
    margin: auto;
    top: 5rem;
    display: block;
    position: relative;
    border-radius: 20px;
  }

  .placeholder {
    position: relative;
    top: 15rem;
    font-size: 1.2rem;
    font-weight: bold;
  }
}
