.tabs_container {
  padding-top: 1rem;

  .tab_content {
    padding: 2rem;
    background: white;

    img {
      display: block;
      margin: 0 auto;
      max-width: 100%;
    }
  }

  .hidden {
    display: none;
  }

  .link {
    @include secondary-link;
  }
}
