.tabs_container {
  .tab_content {
    padding: 3rem 0;
  }

  .hidden {
    display: none;
  }

  .link {
    @include primary-link;
    padding: 0;

    a {
      border: 2px solid black;
      color: black;
    }
  }

  .image img{
    width: 100%
  }
}
