.tabs_container {
  .tab_content {
    padding: 1.5rem 1rem;
  }

  .hidden {
    display: none;
  }

  .link {
    @include primary-link;

    a {
      width: 100%;
      border: 2px solid $blue-20;
      color: $blue-20;
      font-weight: 600;
      text-align: center;

      &:hover, &:focus {
        text-decoration: none;
        background: $blue-20;
        color: white;
      }
    }
  }

  .image {
    padding: 2rem 1rem;

    img{
      width: 100%
    }
  }
}
