.technical_details_container {
  background-color: lightgray;
  padding: 0;

  .nav {
    background: linear-gradient(180deg, gray 80%, lightgray 20%);
    width: 100%;
    justify-content: space-between;
    text-align: center;
    padding: 1rem 15rem;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 500;
    margin: 0 auto;

    button {
      background: transparent;
      color: white;
      border: 0;
      position: relative;
      margin-bottom: 0.8rem;

      &:hover {
        cursor: pointer;
      }

      &.active {
        border-bottom: 3px solid white;

        &:after {
          content: '';
          position: absolute;
          left: 40%;
          top: 45px;
          width: 0;
          height: 0;
          border-left: 15px solid transparent;
          border-right: 15px solid transparent;
          border-top: 15px solid gray;
        }
      }
    }
  }

  .technical_details {
    padding: 4rem;

    .hidden {
      display: none;
    }
  }

  .learn_more_link {
    @include primary-link;
    padding: 0;

    a {
      border: 2px solid black;
      color: black;
    }
  }

  .image img{
    width: 100%
  }
}
