.tutorial {
  .hero {
    @include secondary-hero;

    a {
      color: white;
      font-size: 1.125rem;
      line-height: 1.33;
    }
  }
}

.tutorial_container {
  @include inline-link;
  position: relative;
  padding: 5rem 1rem;

  h1 {
    font-size: $h2;
    line-height: 1.1;
    font-weight: 300;
    padding-bottom: 1.875rem;
  }

  h2 {
    font-size: $h3;
    line-height: 1.1;
    font-weight: 300;

    margin: 5rem 0 1.875rem;
    position: relative;

    &:hover {
      & > a {
        display: inline-block;
      }
    }

    & > a {
      border: 0;
      display: none;
      font-weight: 400;
      font-size: 1.5rem;
      padding: 0 1rem;
      position: absolute;
      height: 1.5rem;
      top: 0;
      bottom:0;
      margin: auto;
      vertical-align: middle;

      &:hover {
        border: 0;
      }
    }
  }

  h3 {
    font-size: $h4;
    line-height: 1.25;
    font-weight: 400;
    margin: 3.125rem 0 1.25rem;
  }

  sup {
    a {
      border: none;

      &:hover {
        border: none;
      }
    }
  }

  table {
    border: 1px solid $gray-10;
    margin: 1rem 0 2rem;

    th {
      border: 1px solid $gray-10;
      padding: 0.9rem 1.3rem;
    }

    td {
      border: 1px solid $gray-10;
      padding: 0.9rem 1.3rem;
    }
  }

  img {
    max-width: 100%;
  }

  .tutorial_nav {
    position: sticky;
    top: 5rem;

    label {
      font-size: 15px;
      line-height: 20px;
      font-weight: 600;
      text-transform: uppercase;
    }

    ul {
      padding-left: 0;
    }

    li {
      display: block;
      padding: 0.8rem 0;

      span {
        padding: 1rem 0;
      }

      a {
        border: 0;
        padding: 0;
        color: $gray-30;
      }

      &.active {
        a {
          color: $primary-text;
          font-weight: 600;
          letter-spacing: -0.5px;
        }
      }
    }
  }

  .tutorial_nav .run_tutorial_links {
    padding: 2rem 0;
    border-top: 1px solid $gray-20;

    a {
      border: none;
      color: $blue-20;

      &:after {
        display: inline-block;
        content: '';
        background-image: url("../assets/images/icons/icon_export_small.svg");
        background-size: 16px 16px;
        height: 16px;
        width: 16px;
        margin-right: 0.5rem;
      }

      &:hover {
        text-decoration: none;
        color: $blue-10;
      }
    }
  }

  .prerequisites {
    background: $gray-5;
    padding: 1rem 2rem;
  }

  blockquote {
    margin: 0 0 0 2rem;
    position: relative;

    &:before {
      display: block;
      content: ' ';
      background-image: url("../assets/images/icons/icon_note_small.svg");
      background-size: 20px 20px;
      height: 20px;
      width: 20px;
      position: absolute;
      left: -2rem;
      top: 0.2rem;
    }
  }

  code {
    &.highlighter-rouge {
      font-weight: bold;
      background-color: $gray-5;
      padding: 0 0.2rem;
    }
  }

  .language-text pre {
    border: 1px solid $gray-10;
    padding: 1rem;
    background: white;
  }

  .output {
    border: 1px solid $gray-10;
    padding: 1rem 1rem 0;
    background: $yellow-10;
    margin: 0.5rem 0 1rem;
    overflow: auto;

    p {
      white-space: pre;
    }
  }

  ol li {
    margin-bottom: 0.9rem;

    .highlighter-rouge {
      margin-bottom: 0.9rem;
      display: inline-block;
    }
  }
}
