$body-bg: lightgray;

@mixin primary-link {
  padding: 3rem 0;

  a {
    border: 2px solid white;
    border-radius: 10px;
    padding: 0.7rem 1rem;
    margin: 0.5rem 1rem 0.5rem 0;
    display: inline-block;
    color: white;
  }
}

@mixin resource-section {
  .header {
    color: white;
    padding-bottom: 2rem;
  }

  .resource {
    background: white;
    padding: 2rem;
    margin: 0.5rem 0.25rem;
    border-radius: 20px;
  }

  .icon img{
    margin: 0 auto;
    display: block;
    width: 5rem;
    height: 5rem;
  }

  .title {
    font-size: 1.2rem;
    text-align: center;
    margin: 1rem 0 0;
  }
}
