// blue
$blue-5: #F2F4FF; // publications/tutorial background
$blue-10: #415EBF;
$blue-20: #2A3B93;
$blue-30: #000C4C;
$blue-40: #235677;

// neutral
$gray-5: #F2F2F2;
$gray-10: #EBEBEB;
$gray-20: #D0D0D0;
$gray-30: #999999;
$gray-50: #666666;
$gray-90: #333333;

// accent
$yellow-10: #FFF4DB;

// text
$primary-text: $gray-90;
$secondary-text: $gray-50;
$sub-nav: $gray-30;
$sub-nav-active: $gray-90;
$button-disabled: $gray-30;

// border:
$light-border: #D8D8D8;
$dark-border: $gray-50;

// screen size:
$breakpoint-xl: 1440px;
$breakpoint-lg: 1024px;
$breakpoint-md: 768px;
$breakpoint-sm: 600px;
$breakpoint-xs: 320px;

@mixin primary-link {
  a {
    background: white;
    border: 3px solid white;
    border-radius: 28px;
    color: $blue-20;
    display: inline-block;
    font-weight: 600;
    margin: 0.5rem 0;
    padding: 0.8rem 0;
    text-align: center;
    width: 100%;

    &:hover {
      background: $blue-5;
      text-decoration: none;
      transition: 0.3s;
      border: 3px solid $blue-5;
    }
  }
}

@mixin secondary-link {
  a {
    color: $blue-20;
    font-weight: 600;
    display: inline-block;
    padding-bottom: 4px;
    border-bottom: 2px solid transparent;

    &:hover {
      text-decoration: none;
      border-bottom: 2px solid $blue-20;
    }
  }
}

@mixin inline-link {
  a {
    color: $blue-20;
    border-bottom: 1px solid $blue-20;

    &:hover {
      text-decoration: none;
      color: $blue-10;
      border-bottom: 1px solid $blue-10;
    }
  }
}

@mixin primary-button {
  button {
    background: $blue-20;
    border: 0;
    border-radius: 28px;
    box-shadow: 0 10px 20px 3px rgba(0, 0, 0, 0.1);
    color: white;
    cursor: pointer;
    display: block;
    font-size: 1.125rem;
    font-weight: 600;
    line-height: 1.33;
    margin: 2rem auto;
    padding: 0.8rem 3rem;
    text-align: center;

    &:hover {
      background: $blue-10;
      transition: 0.3s;
    }
  }
}

@mixin secondary-hero {
  background: $blue-20;
  color: white;
  padding: 3rem 1rem;

  h1 {
    padding-bottom: 1rem;
  }
}

@mixin resource-card {
  .resource {
    padding: 1.5rem 1rem;
    margin: 0.5rem 0.25rem;
    border-radius: 34px;
    box-shadow: 0 0 15px 0 rgba(167,167,167,0.3);
    height: 13rem;
  }

  .icon svg {
    margin: 0 auto;
    display: block;
    width: 5rem;

    path {
      fill: $blue-30;
    }
  }

  .title {
    text-align: center;
    margin: 1rem 0 0;

    a {
      color: black;
    }
  }
}

@mixin ordered-list {
  list-style: none;
  counter-reset: ol-list-counter;

  li {
    counter-increment: ol-list-counter;
    display: inline-block;
    position: relative;

    a {
      color: $blue-20;
    }

    &:before {
      content: counter(ol-list-counter);
      font-size: 2.25rem;
      position: absolute;
      left: -2.4rem;
      top: 1rem;
      line-height: 35px;
    }

    & > span {
      padding: 1rem;
      display: block;

      &:target {
        background-color: $blue-5;
      }
    }
  }
}

@mixin tutorial-card {
  background: white;
  margin-bottom: 2rem;
  padding: 1.5rem 2rem;
  min-height: 26.25rem;
  position: relative;

  .description {
    padding: 1rem 0 0.8rem;
  }

  .footer {
    @include primary-link;
    position: absolute;
    left: 0;
    right: 0;
    padding: 1rem 1rem 0;
    bottom: 1.5rem;

    a {
      background: $blue-20;
      border: 3px solid $blue-20;
      box-shadow: 0 10px 20px 3px rgba(0, 0, 0, 0.1);
      color: white;
      display: block;
      width: 15rem;
      margin: auto;

      &:hover {
        background: $blue-10;
        border: 3px solid $blue-10;
      }
    }
  }

  @media screen and (max-width: $breakpoint-xs) {
    .footer {
      position: relative;
      bottom: 0;
    }
  }
}
