.vw_breadcrumb {
  a {
    font-weight: 600;
    color: $primary-text;

    &:hover {
      text-decoration: none;
      color: $blue-20;
    }
  }

  .title {
    &:before {
      content: '>';
    }

    color: $primary-text;
  }
}
