.guides_container {
  padding: 4rem;
  background: #4A4A4A;
  color: white;

  .start_tutorial_link {
    @include primary-link;
    padding: 1rem 0;

    a {
      color: white;
      border: 2px solid white;
    }
  }
}
