---
---

h1 {
  font-size: 4.5rem;
  padding: 2.5rem 0;
}

h2 {
  font-size: 3.3rem;
  padding: 2.5rem 0;
}

h3 {
  font-size: 2.5rem;
}

.content {
  font-family: 'Work Sans', sans-serif;
  font-size: 1.1rem;
}

@import "variables";
@import "nav";
@import "header";
@import "footer";
@import "hero";
@import "start";
@import "case_studies";
@import "community";
@import "resources";
@import "guides";
@import "how_it_works";
@import "learn";
@import "guide";
@import "tabs";
@import "paper";
@import "about";

.problem_framing_intro_container, .technical_details_container{
  background: $blue-30;
  padding: 3rem 0 0;
  color: white;

  .learn_more_link {
    padding: 2rem 0;
    a {
      color: white;
    }
  }
}

.problem_framing_container {
  background: linear-gradient(180deg, $blue-30 11%, white 11%);
  height: 38rem;

  .nav {
    width: 100%;
    justify-content: space-between;
    text-align: center;
    padding: 1.3rem 0;
    text-decoration: none;
    margin: 0 auto;

    button {
      background: transparent;
      color: white;
      border: 0;
      position: relative;
      margin-bottom: 0.8rem;

      &:hover {
        cursor: pointer;
      }

      &.active {
        font-weight: 600;

        &:after {
          content: '';
          position: absolute;
          left: 40%;
          top: 45px;
          width: 0;
          height: 0;
          border-left: 15px solid transparent;
          border-right: 15px solid transparent;
          border-top: 15px solid $blue-30;
        }
      }
    }
  }

  .sub_nav {
    button {
      width: 30rem;
      background: transparent;
      border: 0;
      padding: 0;
      text-align: left;
      margin: 0.5rem 0;
      font-size: 1rem;
    }

    .active {
      font-weight: 500;
      border-bottom: 2px solid black;
    }
  }
}

.research_container {
  background: gray;

  .research_highlight_description {
    padding: 1rem;
    color: white;

    a {
      color: white;
      font-weight: 500;
    }
  }
}
