---
---

h1 {
  font-size: 2rem;
  padding: 0.5rem 0;
}

h2 {
  font-size: 1.5rem;
  padding: 0.5rem 0;
}

h3 {
  font-size: 1.2rem;
}

h4 {
  font-size: 1rem;
}

.content {
  padding: 0;
}

.description {
  font-size: 1.1rem;
  padding: 0.5rem 0;
}

@import "variables";
@import "nav";
@import "header";
@import "footer";
@import "hero";
@import "start";
@import "case_studies";
@import "community";
@import "resources";
@import "guides";
@import "how_it_works";
@import "learn";
@import "guide";
@import "tabs";
@import "paper";
@import "about";

.solve_problems_container, .technical_details_container{
  background: $bg-black;
  padding: 3rem 0 0;

  .header {
    color: white;
    padding-bottom: 2rem;
  }

  .learn_more_link {
    @include primary-link;
    padding: 1rem 0;
  }
}

.research_container {
  background: gray;
  padding: 3rem;

  .research_highlight_description {
    padding: 1rem;
    color: white;

    a {
      color: white;
      font-weight: 500;
    }
  }
}
