html, body { font-size: 16px; overflow-x: hidden; font-family: 'Work Sans', sans-serif; }

.content { font-size: 0.95rem; color: #333333; }

html { font-size: 0.8rem; }
@media screen and (min-width: 20rem) { html { font-size: calc(0.8rem + 0.4 * ((100vw - 20rem) / 30)); } }
@media screen and (min-width: 50rem) { html { font-size: 1.2rem; } }

h1 { font-size: 2.7rem; padding-bottom: 0.5rem; }

h2 { font-size: 2rem; padding-bottom: 0.5rem; }

h3 { font-size: 1.5rem; padding-bottom: 0.5rem; }

.nav_bar_container { border-bottom: 1px solid white; position: fixed; z-index: 2; }
.nav_bar_container .logo { max-width: 60%; }
.nav_bar_container .logo svg { width: 100%; }
.nav_bar_container.scrolled, .learn .nav_bar_container, .tutorial .nav_bar_container, .publications .nav_bar_container, .download .nav_bar_container { border-bottom: 1px solid #D8D8D8; }
.nav_bar_container.scrolled a, .learn .nav_bar_container a, .tutorial .nav_bar_container a, .publications .nav_bar_container a, .download .nav_bar_container a { color: #333333; }
.nav_bar_container.scrolled a.active, .learn .nav_bar_container a.active, .tutorial .nav_bar_container a.active, .publications .nav_bar_container a.active, .download .nav_bar_container a.active { color: #2A3B93; border-bottom: 2px solid #2A3B93; }
.nav_bar_container.scrolled svg path, .learn .nav_bar_container svg path, .tutorial .nav_bar_container svg path, .publications .nav_bar_container svg path, .download .nav_bar_container svg path { fill: #333333; }
.nav_bar_container.scrolled .logo svg path, .learn .nav_bar_container .logo svg path, .tutorial .nav_bar_container .logo svg path, .publications .nav_bar_container .logo svg path, .download .nav_bar_container .logo svg path { fill: #333333; }
@media screen and (max-width: 768px) { .nav_bar_container.scrolled .nav_item:last-child { border-left: 1px solid #939393; } }
.learn .nav_bar_container { background: white; }
.nav_bar_container .navbar { height: 4rem; justify-content: space-between; }
.nav_bar_container .nav_item { text-align: center; padding: 0 1rem; margin: 0.5rem 0; text-decoration: none; font-size: 1rem; color: white; }
.nav_bar_container .nav_item:hover { text-decoration: none; }
.nav_bar_container .nav_item.active { border-bottom: 2px solid white; font-weight: 600; }
@media screen and (max-width: 768px) { .nav_bar_container .logo svg { height: 2.3rem; }
  .nav_bar_container .nav_item { padding: 0 0.5rem; }
  .nav_bar_container .nav_item svg { height: 1.8rem; }
  .nav_bar_container .nav_item:last-child { padding-right: 0; border-left: 1px solid rgba(255, 255, 255, 0.8); }
  .nav_bar_container .nav_item_text { display: none; } }

.footer_container { background: #2A3B93; padding: 1rem 0; color: white; height: 3.5rem; }

.hero_container { background: url("../assets/images/home/hero/bg.svg"); background-repeat: repeat; background-size: auto 100%; background-position: center center; padding: 12rem 1rem 10rem; margin: -1px; color: white; }
.hero_container .hero_buttons a { border: 2px solid white; border-radius: 10px; color: white; display: inline-block; font-size: 0.9rem; margin: 0.5rem 0; padding: 0.6rem 0; text-align: center; width: 12rem; }
.hero_container .hero_buttons a:hover { transition: 0.3s; }
.hero_container .hero_buttons .get_started_button { border: 2px solid white; border-radius: 10px; background: white; color: #2A3B93; font-weight: 600; font-size: 0.9rem; margin: 0.5rem 0; padding: 0.6rem 0; text-align: center; width: 100%; }
.hero_container .hero_buttons .get_started_button:hover { cursor: pointer; }
.hero_container .hero_buttons a { background: white; color: #2A3B93; font-weight: 600; width: 100%; text-align: center; }
.hero_container .hero_buttons a:hover { text-decoration: none; }
.hero_container .rabbit { padding: 2rem; }
.hero_container .rabbit img { display: block; width: 55%; margin: 0 auto; }

.start_container { background: linear-gradient(180deg, #00bfd6 0%, #0cd2c2 100%); padding: 5rem 1rem; }
.start_container .start_section { background-color: white; border-radius: 20px; padding: 2rem 1rem; }
.start_container .settings_container { padding-bottom: 1rem; margin: 0 1rem; border-bottom: 1px solid #939393; }
.start_container .settings_container .settings { padding-top: 0.5rem; }
.start_container .settings_container .note { color: #4C4C4C; font-size: 0.8rem; }
.start_container .settings_container .title { padding: 0.25rem 0.25rem 0.5rem; }
.start_container .settings_container .option { width: 100%; text-align: center; margin: 0 0 1rem; padding: 0.25rem; border-radius: 6.72px; background-color: white; box-shadow: 0 1px 8px 0 #939393; border: 0; color: #333333; }
.start_container .settings_container .option:hover { cursor: pointer; }
.start_container .settings_container .option:disabled { color: #4C4C4C; pointer-events: none; }
.start_container .settings_container .option:disabled span:before { content: '*'; color: #4C4C4C; }
.start_container .settings_container .selected .option { background: #235677; color: white; }
.start_container .settings_container .description { padding: 0.5rem 0; }
.start_container .next_step_container { padding: 1rem 1rem 0; }
.start_container .next_step_container .tutorial_link { display: inline-block; font-weight: 600; border: 3px solid black; border-radius: 11px; padding: 0.5rem; text-align: center; margin-top: 1.5rem; color: black; }
.start_container .next_step_container .tutorial_link:hover { text-decoration: none; transition: 0.3s; }
.start_container .next_step_container .tutorial_link:hover, .start_container .next_step_container .tutorial_link:focus { background: black; color: white; }
.start_container .command_container { padding-top: 1rem; }
.start_container .command_container .run_command { font-weight: 600; }
.start_container .command_container .command_box { background: #000C4C; color: white; padding: 0.7rem 1rem; margin: 1rem 0; }
.start_container .command_container .command_box a { color: #7BFFF4; }
.start_container .command_container .copy { background: transparent; border: 0; color: white; align-self: flex-start; }
.start_container .command_container .copy:hover { color: #7BFFF4; cursor: pointer; }

@media screen and (max-width: 600px) { .start_container { padding: 1rem; }
  .start_container .settings_container .option { padding: 0.5rem; } }
.case_studies_container { padding: 4rem 2rem; background: #ECECEC; }
.case_studies_container .description { color: gray; font-size: 0.9rem; padding-bottom: 1rem; }
.case_studies_container .case_card { background: #A2A2A2; padding: 2rem; color: white; margin: 0.5rem; }
.case_studies_container .case_card .icon { width: 3rem; height: 3rem; background: white; margin-bottom: 3rem; }
.case_studies_container .case_card .header { padding-bottom: 2rem; }

.community_container { background: linear-gradient(180deg, #30729d 0%, #00bfd6 63%, #0cd2c2 100%); color: white; padding: 5rem 0 0; }
.community_container .description { padding-bottom: 4rem; }
.community_container .community { width: 17.5rem; height: 17rem; margin: 0.5rem auto; padding: 2rem 1rem; background-color: white; box-shadow: 0 2px 11px 0 rgba(168, 168, 168, 0.5); color: #333333; border-radius: 32px; box-shadow: 0 2px 11px 0 rgba(168, 168, 168, 0.5); }
.community_container .community_title { font-size: 1.3rem; padding: 1rem 0 0; font-weight: 400; }
.community_container .community_description { font-size: 0.9rem; }
.community_container .icon svg { width: 60px; height: 60px; margin: 0 auto; }
.community_container .icon svg path { fill: #2A3B93; }
.community_container .join_community_link { padding: 0; position: absolute; bottom: 2.5rem; left: 0; right: 0; margin: auto; }
.community_container .join_community_link a { border: 2px solid white; border-radius: 10px; color: white; display: inline-block; font-size: 0.9rem; margin: 0.5rem 0; padding: 0.6rem 0; text-align: center; width: 12rem; }
.community_container .join_community_link a:hover { transition: 0.3s; }
.community_container .join_community_link a { font-weight: 600; color: #2A3B93; text-align: center; border: 2px solid #2A3B93; margin: 0; }
.community_container .join_community_link a:hover { text-decoration: none; background: #2A3B93; color: white; }

.community_footer { margin-top: 3rem; background-image: url("../assets/images/community/footer.svg"); min-height: 30rem; background-repeat: repeat; background-size: auto 100%; background-position: center center; }

.resources_container .resource { padding: 1.5rem 1rem; margin: 0.5rem 0.25rem; border-radius: 34px; box-shadow: 0 0 15px 0 rgba(167, 167, 167, 0.3); height: 13rem; }
.resources_container .icon svg { margin: 0 auto; display: block; width: 5rem; }
.resources_container .icon svg path { fill: #000C4C; }
.resources_container .title { text-align: center; margin: 1rem 0 0; }
.resources_container .title a { color: black; }
.resources_container .hero { background: #2A3B93; padding: 15rem 0 8rem; color: white; }
.resources_container .header { padding: 1.5rem 0; }
.resources_container .resource_link { color: black; font-weight: 600; }
.resources_container .resource_section { padding: 2rem 0; }
.resources_container .resource_section:last-child { padding-bottom: 6rem; }

.how_it_works_container { padding: 4rem; background: #2A3B93; color: white; }
.how_it_works_container .how_it_works_img { padding: 1.5rem; }
.how_it_works_container .how_it_works_img img { width: 100%; }
.how_it_works_container .technical_details_card { padding: 2rem 0; }
.how_it_works_container .technical_details_card .title { font-size: 1.5rem; font-weight: 600; padding: 1rem 0; }
.how_it_works_container .technical_details_card img { width: 55%; padding: 1rem 0; }
.how_it_works_container .summary_container { padding: 2rem 0; }
.how_it_works_container .summary_container .summary_img { padding: 1rem; }
.how_it_works_container .summary_container .summary_img img { width: 100%; }
.how_it_works_container .summary_container .summary { padding: 1rem 2rem; }

.learn_container .learn_hero { color: #2A3B93; background: white; padding: 15rem 0 8rem; }
.learn_container .description { color: #666666; font-size: 1.5rem; }
.learn_container .rocket { padding: 1rem; }
.learn_container .rocket img { width: 100%; }
.learn_container .hero_buttons a { border: 2px solid white; border-radius: 10px; color: white; display: inline-block; font-size: 0.9rem; margin: 0.5rem 0; padding: 0.6rem 0; text-align: center; width: 12rem; }
.learn_container .hero_buttons a:hover { transition: 0.3s; }
.learn_container .hero_buttons a { font-weight: 600; color: #2A3B93; border: 3px solid #2A3B93; border-radius: 11px; }
.learn_container .guides_container { background: #415EBF; padding: 4rem; color: white; }
.learn_container .guides_container .start_tutorial_link { padding: 1rem 0; }
.learn_container .guides_container .start_tutorial_link a { border: 2px solid white; border-radius: 10px; color: white; display: inline-block; font-size: 0.9rem; margin: 0.5rem 0; padding: 0.6rem 0; text-align: center; width: 12rem; }
.learn_container .guides_container .start_tutorial_link a:hover { transition: 0.3s; }
.learn_container .guides_container .start_tutorial_link a { color: white; border: 2px solid white; }
.learn_container .research_container { background: #000C4C; padding: 5rem 0 9rem; color: white; }
.learn_container .research_container a { color: #7BFFF4; font-weight: 600; }
.learn_container .research_container .title { color: white; text-transform: uppercase; font-weight: 600; padding: 0.5rem 0 1rem; }
.learn_container .research_container .robot { padding: 2rem 0 0; }
.learn_container .research_container .robot img { width: 100%; }
.learn_container .research_container .paper_list { padding-left: 5rem; }
.learn_container .research_container .paper { padding: 1rem 0; }
.learn_container .research_container .paper .authors { opacity: 0.8; }
.learn_container .research_container .paper a { color: white; font-size: 1.5rem; font-weight: 500; }
.learn_container .research_container .all_papers_link a { font-size: 0.9rem; padding: 0.5rem 0; display: block; }

.guide_container { padding: 3rem; background: linear-gradient(180deg, #415EBF 20%, #2A3B93 20%); }
.guide_container .use_cases_container { padding: 3rem 5rem; background: white; box-shadow: 0 0 15px 0 rgba(167, 167, 167, 0.5); border-radius: 34px; }
.guide_container .nav { width: 100%; justify-content: space-between; text-align: center; padding: 1rem 8rem; text-decoration: none; margin: 0 auto; border-bottom: 1px solid lightgray; }
.guide_container .nav button { background: transparent; border: 0; font-weight: 500; position: relative; padding-bottom: 0.5rem; margin-bottom: 0.8rem; }
.guide_container .nav button:hover { cursor: pointer; }
.guide_container .nav button.active { border-bottom: 3px solid #2A3B93; }
.guide_container .guides { padding: 4rem 0 0; }
.guide_container .guides .hidden { display: none; }
.guide_container .start_guide_link { font-weight: 600; padding-top: 2rem; }
.guide_container .start_guide_link a { color: #2A3B93; }
.guide_container .guide_image { padding: 2rem 1rem; }
.guide_container .guide_image img { width: 100%; }

.tabs_container .tab_content { padding: 1.5rem 1rem 3rem; }
.tabs_container .hidden { display: none; }
.tabs_container .link a { border: 2px solid white; border-radius: 10px; color: white; display: inline-block; font-size: 0.9rem; margin: 0.5rem 0; padding: 0.6rem 0; text-align: center; width: 12rem; }
.tabs_container .link a:hover { transition: 0.3s; }
.tabs_container .link a { width: 100%; border: 2px solid #2A3B93; color: #2A3B93; font-weight: 600; text-align: center; }
.tabs_container .link a:hover, .tabs_container .link a:focus { text-decoration: none; background: #2A3B93; color: white; }
.tabs_container .image { padding: 2rem 1rem; }
.tabs_container .image img { width: 100%; }

.paper_card { background: white; border-radius: 20px; padding: 2rem; margin: 2rem 0; color: black; }
.paper_card .title { padding: 1rem 0; }
.paper_card .authors { color: #333333; font-size: 0.9rem; padding-bottom: 2rem; border-bottom: 1px solid lightgray; margin-bottom: 0; }
.paper_card .tags { font-size: 0.9rem; padding: 2rem 0; }
.paper_card .tags .tag { background: lightgray; padding: 0.2rem 0.5rem; margin: 0.25rem; display: inline-block; }

.about_container .hero_container { background: #415EBF; padding: 15rem 0; color: white; background-repeat: no-repeat; background-size: cover; background-position: center center; }
.about_container .hero_container .hero_buttons a { border: 2px solid white; border-radius: 10px; color: white; display: inline-block; font-size: 0.9rem; margin: 0.5rem 0; padding: 0.6rem 0; text-align: center; width: 12rem; }
.about_container .hero_container .hero_buttons a:hover { transition: 0.3s; }
.about_container .hero_container .rabbit { top: 9rem; left: 8rem; }
.about_container .values_container { padding: 4rem 2rem; }
.about_container .values_container .values { padding: 3rem 0 0; }
.about_container .values_container .value { padding: 0.5rem; }
.about_container .values_container .value .title { font-size: 1.8rem; padding: 1rem 0; }
.about_container .values_container .value img { width: 56px; }
.about_container .contributions_container { background: #000C4C; color: white; padding: 4rem 0; }
.about_container .contributions_container .description { padding: 2rem 0; }
.about_container .contributions_container .contributions_img { padding: 2rem 1rem; }
.about_container .contributions_container .contributions_img img { width: 90%; }
.about_container .redefine_problems_container { background: radial-gradient(circle, #22BCBC 0%, #52BCEB 34.83%, #4E71D8 100%); padding: 4rem 0 0; color: white; }
.about_container .redefine_problems_container .redefine_problems_rabbit { padding-top: 5rem; position: relative; top: 1rem; }
.about_container .redefine_problems_container .footer { background: url("../assets/images/about/redefine_problems_footer.svg"); height: 8rem; }
.about_container .real_world_problems_container { background: linear-gradient(180deg, #2A3B93 0%, #546DC5 100%); padding: 6rem 0; color: white; }
.about_container .real_world_problems_container .description { padding: 1rem; }
.about_container .real_world_problems_container .real_world_problems_img { padding: 1rem; }
.about_container .real_world_problems_container .real_world_problems_img img { width: 100%; }
.about_container .vw_users_container { padding: 4rem 0; }
.about_container .contributors { background: #000C4C; color: white; padding: 4rem 2rem; }
.about_container .contributors .contributor_link a { border: 2px solid white; border-radius: 10px; color: white; display: inline-block; font-size: 0.9rem; margin: 0.5rem 0; padding: 0.6rem 0; text-align: center; width: 12rem; }
.about_container .contributors .contributor_link a:hover { transition: 0.3s; }

.tutorial_container { padding: 7rem 1rem 1rem; }
.tutorial_container h1 { color: #2A3B93; }
.tutorial_container pre.highlight { padding: 1.5rem 1rem; background-color: #F2F4FF; display: flex; justify-content: space-between; }
.tutorial_container .copy { background: transparent; border: 0; color: #2A3B93; align-self: flex-start; }
.tutorial_container .copy:hover { color: #415EBF; cursor: pointer; }
.tutorial_container .edit { color: #666666; }
.tutorial_container .edit:hover { color: #333333; }

.publications_container { padding: 7rem 1rem; }
.publications_container h1 { color: #2A3B93; padding: 1.5rem 0 0.5rem; }
.publications_container .bibliography { list-style: none; counter-reset: citation-counter; }
.publications_container .bibliography li { counter-increment: citation-counter; display: inline-block; position: relative; }
.publications_container .bibliography li a { color: #2A3B93; }
.publications_container .bibliography li:before { content: counter(citation-counter); font-size: 1.5rem; position: absolute; left: -1.5rem; top: 1rem; line-height: 32px; }
.publications_container .bibliography li > span { padding: 1rem 1rem 0.2rem 1rem; display: block; }
.publications_container .bibliography li > span:target { background-color: #F2F4FF; }
.publications_container .bibliography li .export_bib { padding: 0 1rem; }
.publications_container .bibliography li .export_bib a { vertical-align: middle; }
.publications_container .bibliography li .export_bib a:hover { text-decoration: none; }

.download_container { padding: 7rem 1rem; }
.download_container h1 { text-align: center; font-size: 1.5rem; padding: 1rem; }
.download_container .bibliography { background-color: #F2F4FF; font-family: 'Source Sans Pro', sans-serif; list-style-type: none; padding: 2rem; }
.download_container .bibliography pre { white-space: pre-wrap; }
.download_container a.details { display: none; }
.download_container .download_bib_button { cursor: pointer; border: 0; color: white; border-radius: 28px; background-color: #2A3B93; box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.1); padding: 0.5rem 2rem; display: block; margin: 0 auto; }

.overlay_on { overflow-y: hidden; }

.overlay { position: fixed; display: none; width: 100%; height: 100%; top: 0; left: 0; right: 0; bottom: 0; background-color: rgba(0, 0, 0, 0.2); z-index: 3; cursor: pointer; }

.vw_breadcrumb { padding-bottom: 0.5rem; }
.vw_breadcrumb .home { color: #333333; }
.vw_breadcrumb .title { color: #333333; font-weight: 600; }
.vw_breadcrumb .title:before { content: '>'; font-weight: normal; }

.problem_framing_intro_container { background: #000C4C; padding: 3rem 0 0; color: white; }

.problem_framing_container { background: linear-gradient(180deg, #000C4C 3.7rem, white 3.7rem); }
.problem_framing_container .nav { width: 100%; justify-content: space-between; text-align: center; padding: 1.3rem 0; text-decoration: none; margin: 0 auto; }
.problem_framing_container .nav button { background: transparent; color: white; border: 0; position: relative; margin-bottom: 0.8rem; }
.problem_framing_container .nav button:hover { cursor: pointer; }
.problem_framing_container .nav button.active { font-weight: 600; }
.problem_framing_container .nav button.active:after { content: ''; position: absolute; left: 40%; top: 45px; width: 0; height: 0; border-left: 15px solid transparent; border-right: 15px solid transparent; border-top: 15px solid #000C4C; }
.problem_framing_container .nav button.arrow { display: none; }
@media screen and (max-width: 600px) { .problem_framing_container .nav button { display: none; }
  .problem_framing_container .nav button.arrow { display: block; color: white; }
  .problem_framing_container .nav button.active { display: block; pointer-events: none; }
  .problem_framing_container .nav button.active:after { display: none; } }
.problem_framing_container .sub_nav button { display: block; background: transparent; border: 0; padding: 0; text-align: left; padding-bottom: 0.3rem; margin-bottom: 1.5rem; font-size: 0.8rem; color: #666666; }
.problem_framing_container .sub_nav button:hover { cursor: pointer; }
.problem_framing_container .sub_nav .active { color: #2A3B93; font-weight: 600; border-bottom: 2px solid #2A3B93; }
@media screen and (max-width: 768px) { .problem_framing_container .sub_nav button { display: inline-block; } }

.research_container { background: #000C4C; padding: 5rem 0; color: white; }
.research_container a { color: #7BFFF4; font-weight: 600; }
.research_container .title { color: white; text-transform: uppercase; font-weight: 600; padding: 0.5rem 0 0.2rem; }
.research_container .research_links { padding: 0 1rem; }
.research_container .research_links a { font-size: 0.9rem; padding: 0.5rem 0; display: block; }
.research_container .file_icon { width: 100%; }

@media screen and (max-width: 768px) { .research_container .file_icon { padding-top: 3rem; } }
.four_oh_four .four_oh_four_container { background: #415EBF; padding: 6rem 1rem 1rem; height: calc(100vh - 3.5rem); }
.four_oh_four .four_oh_four_icon { width: 75%; max-height: 12rem; }
.four_oh_four .header { color: #CDFFFB; font-size: 7rem; font-weight: bold; }
.four_oh_four .description { font-size: 1rem; color: white; }
.four_oh_four .return_home_link { padding: 1rem 0; }
.four_oh_four .return_home_link a { border: 2px solid white; border-radius: 10px; color: white; display: inline-block; font-size: 0.9rem; margin: 0.5rem 0; padding: 0.6rem 0; text-align: center; width: 12rem; }
.four_oh_four .return_home_link a:hover { transition: 0.3s; }
.four_oh_four .return_home_link a { font-weight: 600; text-align: center; margin: 0; width: 100%; }
.four_oh_four .return_home_link a:hover { text-decoration: none; background: white; color: #2A3B93; }

sup:before { content: '('; }
sup:after { content: ')'; }
sup a { color: #333333; }
sup a:hover { color: #333333; }
sup button { color: red; background: transparent; border: 0; }

.bibliography_tooltip { padding: 0.5rem 0.8rem; line-height: 24px; width: 560px; border-radius: 11px; background-color: white; box-shadow: 0 10px 20px 5px rgba(0, 0, 0, 0.1); font-size: 0.8rem; z-index: 1; /** The arrow element lives *inside* the popper so we need to offset it by its size to position it outside the popper element. */ }
.bibliography_tooltip .close_button { position: absolute; top: 8px; right: 8px; background: url("images/icons/icon_close_small.svg") no-repeat top left; border: 0; height: 12px; background-size: contain; cursor: pointer; display: inline-block; z-index: 1; }
@media screen and (min-width: 768px) { .bibliography_tooltip .close_button { display: none; } }
.bibliography_tooltip a { color: #2A3B93; }
.bibliography_tooltip [x-arrow] { position: absolute; border-left: 15px solid transparent; border-right: 15px solid transparent; border-top: 15px solid white; }
.bibliography_tooltip[x-placement="right"] { margin-bottom: 5px; }
.bibliography_tooltip[x-placement="bottom"] { margin-top: 5px; }
.bibliography_tooltip[x-placement="left"] { margin-right: 5px; }
.bibliography_tooltip[x-placement="right"] { margin-left: 5px; }
.bibliography_tooltip[x-placement="bottom"] [x-arrow] { top: -12px; transform: rotate(180deg); }
.bibliography_tooltip[x-placement="left"] [x-arrow] { right: -20px; transform: rotate(270deg); }
.bibliography_tooltip[x-placement="top"] [x-arrow] { bottom: -12px; }
.bibliography_tooltip[x-placement="right"] [x-arrow] { left: -20px; transform: rotate(90deg); }
.bibliography_tooltip .citation { padding: 0.3rem 0; }
.bibliography_tooltip .citation .col-1, .bibliography_tooltip .citation .col { padding: 0; }
.bibliography_tooltip .citation .col-1 { max-width: 50px; text-align: center; }
.bibliography_tooltip .citation .superscript { font-size: 1.5rem; padding-top: 0.2rem; }
.bibliography_tooltip.mobile { z-index: 1000; width: 95%; }
.bibliography_tooltip.mobile [x-arrow] { display: none; }

.bibliography_container { padding: 3rem 1rem 1.5rem; }
.bibliography_container .header { width: 18rem; height: 32px; margin-bottom: 0.8rem; }
.bibliography_container h3 { font-size: 1.1rem; font-weight: 600; color: #666666; padding: 0; margin: 0; }
.bibliography_container .all_publications_link { border-left: 1px solid #D8D8D8; padding-left: 1rem; }
.bibliography_container .all_publications_link a { color: #333333; }
.bibliography_container .all_publications_link:after { content: '>'; color: #666666; }
.bibliography_container ol.bibliography { list-style: none; counter-reset: citation-counter; column-count: 2; -moz-column-count: 2; -webkit-column-count: 2; column-gap: 3rem; -moz-column-gap: 3rem; -webkit-column-gap: 3rem; }
.bibliography_container ol.bibliography li { counter-increment: citation-counter; display: inline-block; position: relative; }
.bibliography_container ol.bibliography li a { color: #2A3B93; }
.bibliography_container ol.bibliography li:before { content: counter(citation-counter); font-size: 1.5rem; position: absolute; left: -1.5rem; top: 1rem; line-height: 32px; }
.bibliography_container ol.bibliography li > span { padding: 1rem 1rem 0.2rem 1rem; display: block; }
.bibliography_container ol.bibliography li > span:target { background-color: #F2F4FF; }
.bibliography_container ol.bibliography li .export_bib { padding: 0 1rem; }
.bibliography_container ol.bibliography li .export_bib a { vertical-align: middle; }
.bibliography_container ol.bibliography li .export_bib a:hover { text-decoration: none; }
.bibliography_container .details { margin-left: 1rem; }

@media screen and (max-width: 768px) { .bibliography_container { display: none; } }
.hidden_absolute { position: absolute; left: -10000px; top: auto; width: 1px; height: 1px; overflow: hidden; }
