html, body { font-family: 'Work Sans', sans-serif; color: #333333; line-height: 1.33; }
html, body { font-size: 0.8rem; }
@media screen and (min-width: 576px) { html, body { font-size: calc(0.8rem + 0.2 * ((100vw - 576px) / 564)); } }
@media screen and (min-width: 1140px) { html, body { font-size: 1rem; } }

.content { font-size: 1.125rem; color: #333333; line-height: 1.33; }
.content i.fas, .content i.fa { font-family: "FontAwesome"; font-style: normal; }

code { font-size: inherit; color: #333333; }

h1 { font-size: 4rem; line-height: 1.1; font-weight: 300; }

h2 { font-size: 3rem; line-height: 1.1; font-weight: 300; }

h3 { font-size: 2.25rem; line-height: 1.1; font-weight: 300; }

h4 { font-size: 1.5rem; line-height: 1.25; font-weight: 400; }

.external_links .github_link { display: flex; align-items: center; }
.external_links .github_link svg { margin-right: 0.5rem; }
.external_links .github_link svg path { fill: #EBEBEB; }
.external_links .github_link:hover svg path { fill: white; }

.navbar_container { background: rgba(42, 59, 147, 0.95); font-size: 1.125rem; line-height: 1.33; top: -240px; transition: top 0.5s ease; }
.navbar_container .navbar { height: 4rem; }
.navbar_container .logo svg path { fill: white; }
.navbar_container.sticky { position: sticky; top: 0; z-index: 2; }
.navbar_container.dark { background-color: rgba(0, 12, 76, 0.95); }
.navbar_container.light { background: white; box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1); }
.navbar_container.light a { color: #333333; }
.navbar_container.light a:hover { color: #2A3B93; }
.navbar_container.light svg path { fill: #333333; }
.navbar_container.light #logo_vw_color path { fill: #2A3B93; }
.navbar_container.light .external_links { border-left: 1px solid rgba(51, 51, 51, 0.3); }
.navbar_container.light .github_link:hover svg path { fill: #2A3B93; }

.main_nav_container a { display: inline-block; color: #EBEBEB; padding-bottom: 4px; }
.main_nav_container a:hover { text-decoration: none; color: white; }
.main_nav_container a.active { color: white; border-bottom: 1px solid; }
.main_nav_container .nav { display: flex; align-items: center; }
.main_nav_container .nav a { margin: 0 1rem; }
.main_nav_container .external_links { border-left: 1px solid rgba(255, 255, 255, 0.3); margin-left: 1rem; padding-left: 1rem; display: flex; align-items: center; }

@media screen and (max-width: 768px) { .main_nav_container { display: none; }
  .mobile_nav_container { display: block; } }
@media screen and (min-width: 768px) { .main_nav_container { display: block; }
  .mobile_nav_container { display: none; } }
.mobile_nav_container .hamburger_icon { width: 3rem; height: 3rem; display: flex; align-items: center; }
.mobile_nav_container .logo { flex: 1 1 0; }
.mobile_nav_container .logo a { display: block; text-align: center; }

.mobile_nav { background: white; position: fixed; z-index: 4; top: 0; left: 0; height: 100%; width: 0; transition: 0.5s; overflow-x: hidden; font-size: 1.2rem; white-space: nowrap; }
.mobile_nav button { background: white; text-align: left; border: none; width: 100%; }
.mobile_nav a, .mobile_nav button { color: #333333; display: block; padding: 1.7rem 1rem; border-bottom: 1px solid #EBEBEB; height: 64px; }
.mobile_nav a:hover, .mobile_nav a:focus, .mobile_nav a.active, .mobile_nav button:hover, .mobile_nav button:focus, .mobile_nav button.active { background: #EBEBEB; }
.mobile_nav .external_links { background-color: #EBEBEB; bottom: 0; position: absolute; width: 100%; }
.mobile_nav .external_links a { border-bottom: 1px solid #D0D0D0; }
.mobile_nav .external_links a:last-child { border: 0; }
.mobile_nav .external_links a:hover, .mobile_nav .external_links a:focus { background: white; }
.mobile_nav .external_links .github_link svg path { fill: #333333; }
.mobile_nav.open { width: 320px; }

.footer_container { background: #EBEBEB; padding: 1rem 0; height: 3.5rem; font-size: 1.125rem; line-height: 1.33; }

.install_vw_config { padding-left: 4rem; counter-reset: install-step-counter; }
.install_vw_config .installation_step { padding-bottom: 2rem; }
.install_vw_config .step_title { padding-bottom: 0.8rem; counter-increment: install-step-counter; display: inline-block; position: relative; }
.install_vw_config .step_title:before { content: counter(install-step-counter); font-size: 2.25rem; position: absolute; left: -2.5rem; line-height: 32px; }
.install_vw_config .settings_container .note { color: #666666; font-size: 15px; line-height: 20px; padding-top: 0.8rem; display: flex; justify-content: flex-end; }
.install_vw_config .settings_container .row { border-bottom: 1px solid #EBEBEB; }
.install_vw_config .settings_container .row:first-of-type { border-top: 1px solid #EBEBEB; }
.install_vw_config .settings_container .title { padding: 1rem 0; font-weight: 600; }
.install_vw_config .settings_container .option { width: 100%; background: transparent; text-align: center; padding: 1rem 0; border: 0; color: #333333; }
.install_vw_config .settings_container .option:hover { cursor: pointer; background: #EBEBEB; }
.install_vw_config .settings_container .option:disabled { color: #999999; pointer-events: none; }
.install_vw_config .settings_container .option:disabled span:before { content: '*'; color: #999999; }
.install_vw_config .settings_container .option.selected { background: #FFF4DB; }

.command_box, pre.highlight { min-height: 3.7rem; padding: 1rem; background-color: #F2F4FF; display: flex; justify-content: space-between; }
.command_box a, pre.highlight a { color: #2A3B93; border-bottom: 1px solid #2A3B93; }
.command_box a:hover, pre.highlight a:hover { text-decoration: none; color: #415EBF; border-bottom: 1px solid #415EBF; }
.command_box .copy, pre.highlight .copy { background: transparent; border: 0; color: #2A3B93; align-self: flex-start; }
.command_box .copy:hover, pre.highlight .copy:hover { color: #415EBF; cursor: pointer; }

pre.highlight { margin: 1rem 0; }

sup:before { content: '('; }
sup:after { content: ')'; }
sup .cite_sup:after { content: ','; }
sup .cite_sup:last-child:after { content: ''; }

.citation_tooltip { border-radius: 10px; background-color: white; box-shadow: 0 10px 20px 5px rgba(0, 0, 0, 0.1); font-size: 1.125rem; padding: 0 1rem; width: 560px; z-index: 1; }
.citation_tooltip a { color: #2A3B93; }
.citation_tooltip .close_button { position: absolute; top: 8px; right: 8px; background: url("images/icons/icon_close_small.svg") no-repeat top left; border: 0; height: 12px; background-size: contain; cursor: pointer; display: none; z-index: 1; }
.citation_tooltip [x-arrow] { position: absolute; border-left: 15px solid transparent; border-right: 15px solid transparent; border-top: 15px solid white; }
.citation_tooltip[x-placement="right"] { margin-bottom: 5px; }
.citation_tooltip[x-placement="bottom"] { margin-top: 5px; }
.citation_tooltip[x-placement="left"] { margin-right: 5px; }
.citation_tooltip[x-placement="right"] { margin-left: 5px; }
.citation_tooltip[x-placement="bottom"] [x-arrow] { top: -12px; transform: rotate(180deg); }
.citation_tooltip[x-placement="left"] [x-arrow] { right: -20px; transform: rotate(270deg); }
.citation_tooltip[x-placement="top"] [x-arrow] { bottom: -12px; }
.citation_tooltip[x-placement="right"] [x-arrow] { left: -20px; transform: rotate(90deg); }
.citation_tooltip .citation { padding: 1rem 0; }
.citation_tooltip .citation .col-1, .citation_tooltip .citation .col { padding: 0; }
.citation_tooltip .citation .col-1 { max-width: 55px; text-align: center; }
.citation_tooltip .citation .superscript { font-size: 2.25rem; padding-right: 1rem; margin-top: -0.4rem; }
.citation_tooltip .citation:only-of-type .superscript { display: none; }
@media screen and (max-width: 1024px) { .citation_tooltip { z-index: 1000; width: 90%; max-width: 560px; }
  .citation_tooltip .close_button { display: block; }
  .citation_tooltip [x-arrow] { display: none; } }

.bibliography_container { padding: 5rem 1rem; position: relative; }
.bibliography_container .go_back_button { display: none; border: 3px solid white; border-radius: 28px; background-color: white; box-shadow: 0 10px 20px 3px rgba(0, 0, 0, 0.1); color: #2A3B93; font-weight: 600; font-size: 18px; height: 56px; margin: 0 auto; left: 0; right: 0; padding: 0.8rem; position: absolute; text-align: center; top: 2rem; width: 160px; z-index: 1; }
.bibliography_container .go_back_button:hover { text-decoration: none; }
.bibliography_container .header { height: 28px; margin-bottom: 0.8rem; display: flex; align-items: center; }
.bibliography_container h3 { font-size: 1.1rem; font-weight: 600; color: #666666; padding: 0; margin: 0; }
.bibliography_container .all_publications_link { border-left: 1px solid #D8D8D8; padding-left: 1rem; margin-left: 1rem; }
.bibliography_container .all_publications_link a { color: #333333; }
.bibliography_container .all_publications_link:after { content: '>'; color: #666666; }
.bibliography_container ol.bibliography { list-style: none; counter-reset: ol-list-counter; font-size: 1.125rem; column-count: 2; -moz-column-count: 2; -webkit-column-count: 2; column-gap: 3rem; -moz-column-gap: 3rem; -webkit-column-gap: 3rem; }
.bibliography_container ol.bibliography li { counter-increment: ol-list-counter; display: inline-block; position: relative; }
.bibliography_container ol.bibliography li a { color: #2A3B93; }
.bibliography_container ol.bibliography li:before { content: counter(ol-list-counter); font-size: 2.25rem; position: absolute; left: -2.4rem; top: 1rem; line-height: 35px; }
.bibliography_container ol.bibliography li > span { padding: 1rem; display: block; }
.bibliography_container ol.bibliography li > span:target { background-color: #F2F4FF; }

ol.bibliography { word-break: break-word; }
ol.bibliography .bib_content { flex: 0 0 80%; padding: 1rem; }
ol.bibliography .details { margin-left: 1rem; }
ol.bibliography .details:before { display: inline-block; content: ''; background-image: url("../assets/images/icons/icon_export_small.svg"); background-size: 16px 16px; height: 16px; width: 16px; margin-right: 0.5rem; }
ol.bibliography .details:hover { text-decoration: none; color: #415EBF; }

.research .hero { background: #2A3B93; color: white; padding: 3rem 1rem; }
.research .hero h1 { padding-bottom: 1rem; }
.research .intro { margin: 3rem 0; font-size: 1.25rem; line-height: 1.25; }
.research .intro a { color: #2A3B93; font-weight: 600; display: inline-block; padding-bottom: 4px; border-bottom: 2px solid transparent; }
.research .intro a:hover { text-decoration: none; border-bottom: 2px solid #2A3B93; }
.research .intro a { margin-top: 1rem; font-size: 1.125rem; line-height: 1.3; }

.publications_container { padding: 3rem 1rem; border-top: 1px solid #EBEBEB; }
.publications_container .header { font-size: 1.125rem; line-height: 1.3; font-weight: 600; text-transform: uppercase; padding-bottom: 1rem; }
.publications_container .bibliography { list-style: none; counter-reset: ol-list-counter; }
.publications_container .bibliography li { counter-increment: ol-list-counter; display: inline-block; position: relative; }
.publications_container .bibliography li a { color: #2A3B93; }
.publications_container .bibliography li:before { content: counter(ol-list-counter); font-size: 2.25rem; position: absolute; left: -2.4rem; top: 1rem; line-height: 35px; }
.publications_container .bibliography li > span { padding: 1rem; display: block; }
.publications_container .bibliography li > span:target { background-color: #F2F4FF; }
.publications_container .bibliography li { display: flex; align-items: baseline; }
.publications_container .bibliography li span { flex: 1 1 0; }

@media screen and (max-width: 1024px) { .bibliography_container { display: none; }
  .publications_container .bibliography li { display: block; } }
.community_container { background: #2A3B93; color: white; padding: 5rem 1rem; }
.community_container .description { padding: 2rem 0 4rem; }
.community_container .community { margin: 0.5rem auto; max-width: 23.8rem; background-color: white; color: #333333; }
.community_container .community .card_header { padding: 0 1.5rem; height: 12.5rem; background-color: #F2F4FF; box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1); }
.community_container .community .card_header .community_title { display: flex; align-items: center; padding: 1.5rem 0; }
.community_container .community .card_header .community_title .icon { padding-right: 0.5rem; }
.community_container .community .card_header .community_title .icon svg path { fill: #666666; }
.community_container .community .card_header .community_title h3 { font-size: 1.125rem; font-weight: 600; line-height: 1.33; margin: 0; padding: 0; text-transform: uppercase; }
.community_container .community .card_header .community_description { font-size: 2.25rem; font-weight: 300; letter-spacing: -0.6px; line-height: 1.16; }
.community_container .card_content { padding: 1.5rem 1.5rem 0; height: 15rem; }
.community_container .loader_wrapper { height: 12rem; background-color: white; padding: 1.2rem; }
@keyframes placeHolderShimmer { 0% { background-position: -468px 0; }
  100% { background-position: 468px 0; } }
.community_container .animated-background { animation-duration: 1s; animation-fill-mode: forwards; animation-iteration-count: infinite; animation-name: placeHolderShimmer; animation-timing-function: linear; background: linear-gradient(to right, #eeeeee 8%, #dddddd 18%, #eeeeee 33%); background-size: 800px 104px; height: 96px; position: relative; }
.community_container .content-top, .community_container .content-second-line, .community_container .content-third-line { background: white; position: absolute; top: 40px; left: 0; right: 0; height: 6px; }
.community_container .content-top { height: 20px; }
.community_container .content-second-line { top: 68px; }
.community_container .content-third-line { top: 82px; }
.community_container .github .card_content .card_row { padding: 1.2rem 0; display: flex; justify-content: space-between; font-size: 1.125rem; line-height: 1.33; border-bottom: 1px solid #EBEBEB; }
.community_container .github .card_content .card_row:last-child { border-bottom: 0; }
.community_container .github .card_content .card_label { display: flex; align-items: center; }
.community_container .github .card_content .card_label .icon { padding-right: 1rem; font-size: 1.5rem; color: #666666; }
.community_container .stackoverflow .card_content { padding-top: 2.7rem; }
.community_container .stackoverflow .card_content .title { font-weight: 600; }
.community_container .stackoverflow .card_content .question { max-height: 7.5rem; }
.community_container .stackoverflow .card_content .time { color: #666666; padding: 0.8rem 0; }
.community_container .gitter .card_content { padding-top: 2.7rem; }
.community_container .gitter .card_content .title { font-weight: 600; }
.community_container .gitter .card_content .avatars { display: flex; justify-content: space-between; }
.community_container .gitter .card_content .avatar img { height: 51px; width: 51px; border-radius: 5px; box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.15); }
.community_container .gitter .card_content .note { color: #666666; padding: 2rem 0; }
@media screen and (max-width: 1024px) { .community_container .gitter .card_content .avatar img { height: 45px; width: 45px; } }
@media screen and (max-width: 600px) { .community_container .gitter .card_content .avatar img { height: 40px; width: 40px; } }
.community_container .card_footer { padding-bottom: 1rem; }
.community_container .card_footer a { background: white; border: 3px solid white; border-radius: 28px; color: #2A3B93; display: inline-block; font-weight: 600; margin: 0.5rem 0; padding: 0.8rem 0; text-align: center; width: 100%; }
.community_container .card_footer a:hover { background: #F2F4FF; text-decoration: none; transition: 0.3s; border: 3px solid #F2F4FF; }
.community_container .card_footer a { width: 15rem; box-shadow: 0 10px 20px 3px rgba(0, 0, 0, 0.1); display: block; margin: 1rem auto; }

.tabs_container { padding-top: 1rem; }
.tabs_container a { color: #2A3B93; border-bottom: 1px solid #2A3B93; }
.tabs_container a:hover { text-decoration: none; color: #415EBF; border-bottom: 1px solid #415EBF; }
.tabs_container .nav { display: block; }
.tabs_container .nav button { background: transparent; border: 0; color: #999999; display: block; font-size: 15px; line-height: 20px; margin-bottom: 1.5rem; text-align: left; }
.tabs_container .nav button:hover { cursor: pointer; }
.tabs_container .nav .active { color: #333333; font-weight: 600; }
.tabs_container .nav .active .tab_text { padding-bottom: 0.4rem; border-bottom: 1px solid #FFB700; }
.tabs_container .tab_content { padding: 2rem; background: white; }
.tabs_container .tab_content img { display: block; margin: 0 auto; max-width: 100%; }
.tabs_container .cite_sup { border-bottom: 0; }
.tabs_container .cite_sup:hover { border-bottom: 0; }
.tabs_container .hidden { display: none; }

.tutorial .hero { background: #2A3B93; color: white; padding: 3rem 1rem; }
.tutorial .hero h1 { padding-bottom: 1rem; }
.tutorial .hero a { color: white; font-size: 1.125rem; line-height: 1.33; }

.tutorial_container { position: relative; padding: 5rem 1rem; }
.tutorial_container a { color: #2A3B93; border-bottom: 1px solid #2A3B93; }
.tutorial_container a:hover { text-decoration: none; color: #415EBF; border-bottom: 1px solid #415EBF; }
.tutorial_container h1 { font-size: 3rem; line-height: 1.1; font-weight: 300; padding-bottom: 1.875rem; }
.tutorial_container h2 { font-size: 2.25rem; line-height: 1.1; font-weight: 300; margin: 5rem 0 1.875rem; position: relative; }
.tutorial_container h2:hover > a { display: inline-block; }
.tutorial_container h2 > a { border: 0; display: none; font-weight: 400; font-size: 1.5rem; padding: 0 1rem; position: absolute; height: 1.5rem; top: 0; bottom: 0; margin: auto; vertical-align: middle; }
.tutorial_container h2 > a:hover { border: 0; }
.tutorial_container h3 { font-size: 1.5rem; line-height: 1.25; font-weight: 400; margin: 3.125rem 0 1.25rem; }
.tutorial_container sup a { border: none; }
.tutorial_container sup a:hover { border: none; }
.tutorial_container table { border: 1px solid #EBEBEB; margin: 1rem 0 2rem; }
.tutorial_container table th { border: 1px solid #EBEBEB; padding: 0.9rem 1.3rem; }
.tutorial_container table td { border: 1px solid #EBEBEB; padding: 0.9rem 1.3rem; }
.tutorial_container img { max-width: 100%; }
.tutorial_container .tutorial_nav { position: sticky; top: 5rem; }
.tutorial_container .tutorial_nav label { font-size: 15px; line-height: 20px; font-weight: 600; text-transform: uppercase; }
.tutorial_container .tutorial_nav ul { padding-left: 0; }
.tutorial_container .tutorial_nav li { display: block; padding: 0.8rem 0; }
.tutorial_container .tutorial_nav li span { padding: 1rem 0; }
.tutorial_container .tutorial_nav li a { border: 0; padding: 0; color: #999999; }
.tutorial_container .tutorial_nav li.active a { color: #333333; font-weight: 600; letter-spacing: -0.5px; }
.tutorial_container .tutorial_nav .run_tutorial_links { padding: 2rem 0; border-top: 1px solid #D0D0D0; }
.tutorial_container .tutorial_nav .run_tutorial_links a { border: none; color: #2A3B93; }
.tutorial_container .tutorial_nav .run_tutorial_links a:after { display: inline-block; content: ''; background-image: url("../assets/images/icons/icon_export_small.svg"); background-size: 16px 16px; height: 16px; width: 16px; margin-right: 0.5rem; }
.tutorial_container .tutorial_nav .run_tutorial_links a:hover { text-decoration: none; color: #415EBF; }
.tutorial_container .prerequisites { background: #F2F2F2; padding: 1rem 2rem; }
.tutorial_container blockquote { margin: 0 0 0 2rem; position: relative; }
.tutorial_container blockquote:before { display: block; content: ' '; background-image: url("../assets/images/icons/icon_note_small.svg"); background-size: 20px 20px; height: 20px; width: 20px; position: absolute; left: -2rem; top: 0.2rem; }
.tutorial_container code.highlighter-rouge { font-weight: bold; background-color: #F2F2F2; padding: 0 0.2rem; }
.tutorial_container .language-text pre { border: 1px solid #EBEBEB; padding: 1rem; background: white; }
.tutorial_container .output { border: 1px solid #EBEBEB; padding: 1rem 1rem 0; background: #FFF4DB; margin: 0.5rem 0 1rem; overflow: auto; }
.tutorial_container .output p { white-space: pre; }
.tutorial_container ol li { margin-bottom: 0.9rem; }
.tutorial_container ol li .highlighter-rouge { margin-bottom: 0.9rem; display: inline-block; }

.download_container { padding: 2rem 1rem; }
.download_container button { background: #2A3B93; border: 0; border-radius: 28px; box-shadow: 0 10px 20px 3px rgba(0, 0, 0, 0.1); color: white; cursor: pointer; display: block; font-size: 1.125rem; font-weight: 600; line-height: 1.33; margin: 2rem auto; padding: 0.8rem 3rem; text-align: center; }
.download_container button:hover { background: #415EBF; transition: 0.3s; }
.download_container h1 { font-size: 1.125rem; line-height: 1.33; padding-bottom: 1rem; }
.download_container h1 .header { text-transform: uppercase; font-weight: 600; }
.download_container .bibliography { background-color: #F2F4FF; font-family: 'Source Sans Pro', sans-serif; list-style-type: none; padding: 2rem; font-size: 1.125rem; line-height: 1.7; }
.download_container .bibliography pre { white-space: pre-wrap; }
.download_container a.details { display: none; }

.start .start_container .hero { background: #2A3B93; color: white; padding: 3rem 1rem; }
.start .start_container .hero h1 { padding-bottom: 1rem; }
.start .start_container .install_vw_container { padding: 5rem 1rem; }
.start .start_container .install_vw_container a { color: #2A3B93; border-bottom: 1px solid #2A3B93; }
.start .start_container .install_vw_container a:hover { text-decoration: none; color: #415EBF; border-bottom: 1px solid #415EBF; }
.start .start_container .install_vw_container .description { padding: 0.5rem 0; }
.start .start_container .install_vw_container .links { padding-top: 0.8rem; }
.start .start_container .install_vw_container .links a { color: #2A3B93; font-weight: 600; display: inline-block; padding-bottom: 4px; border-bottom: 2px solid transparent; }
.start .start_container .install_vw_container .links a:hover { text-decoration: none; border-bottom: 2px solid #2A3B93; }
.start .start_container .tutorials_container { background-color: #EBEBEB; padding: 5rem 1rem; }
.start .start_container .tutorials_container .intro { padding: 1rem 0 2rem; }
.start .start_container .tutorials_container .all_tutorials_link { padding-top: 1rem; }
.start .start_container .tutorials_container .all_tutorials_link a { color: #2A3B93; font-weight: 600; display: inline-block; padding-bottom: 4px; border-bottom: 2px solid transparent; }
.start .start_container .tutorials_container .all_tutorials_link a:hover { text-decoration: none; border-bottom: 2px solid #2A3B93; }
.start .start_container .tutorials_container .tutorial_card { background: white; margin-bottom: 2rem; padding: 1.5rem 2rem; min-height: 26.25rem; position: relative; }
.start .start_container .tutorials_container .tutorial_card .description { padding: 1rem 0 0.8rem; }
.start .start_container .tutorials_container .tutorial_card .footer { position: absolute; left: 0; right: 0; padding: 1rem 1rem 0; bottom: 1.5rem; }
.start .start_container .tutorials_container .tutorial_card .footer a { background: white; border: 3px solid white; border-radius: 28px; color: #2A3B93; display: inline-block; font-weight: 600; margin: 0.5rem 0; padding: 0.8rem 0; text-align: center; width: 100%; }
.start .start_container .tutorials_container .tutorial_card .footer a:hover { background: #F2F4FF; text-decoration: none; transition: 0.3s; border: 3px solid #F2F4FF; }
.start .start_container .tutorials_container .tutorial_card .footer a { background: #2A3B93; border: 3px solid #2A3B93; box-shadow: 0 10px 20px 3px rgba(0, 0, 0, 0.1); color: white; display: block; width: 15rem; margin: auto; }
.start .start_container .tutorials_container .tutorial_card .footer a:hover { background: #415EBF; border: 3px solid #415EBF; }
@media screen and (max-width: 320px) { .start .start_container .tutorials_container .tutorial_card .footer { position: relative; bottom: 0; } }
.start .start_container .tutorials_container .tutorial_card .header { padding-bottom: 1rem; text-transform: uppercase; font-weight: 600; }

.tutorials .tutorials_container .hero { background: #2A3B93; color: white; padding: 3rem 1rem; }
.tutorials .tutorials_container .hero h1 { padding-bottom: 1rem; }
.tutorials .tutorials_container .tutorials_list { background: #EBEBEB; padding: 5rem 1rem; }
.tutorials .tutorials_container .tutorial_card { background: white; margin-bottom: 2rem; padding: 1.5rem 2rem; min-height: 26.25rem; position: relative; }
.tutorials .tutorials_container .tutorial_card .description { padding: 1rem 0 0.8rem; }
.tutorials .tutorials_container .tutorial_card .footer { position: absolute; left: 0; right: 0; padding: 1rem 1rem 0; bottom: 1.5rem; }
.tutorials .tutorials_container .tutorial_card .footer a { background: white; border: 3px solid white; border-radius: 28px; color: #2A3B93; display: inline-block; font-weight: 600; margin: 0.5rem 0; padding: 0.8rem 0; text-align: center; width: 100%; }
.tutorials .tutorials_container .tutorial_card .footer a:hover { background: #F2F4FF; text-decoration: none; transition: 0.3s; border: 3px solid #F2F4FF; }
.tutorials .tutorials_container .tutorial_card .footer a { background: #2A3B93; border: 3px solid #2A3B93; box-shadow: 0 10px 20px 3px rgba(0, 0, 0, 0.1); color: white; display: block; width: 15rem; margin: auto; }
.tutorials .tutorials_container .tutorial_card .footer a:hover { background: #415EBF; border: 3px solid #415EBF; }
@media screen and (max-width: 320px) { .tutorials .tutorials_container .tutorial_card .footer { position: relative; bottom: 0; } }
.tutorials .tutorials_container .tutorial_card .tags { font-size: 15px; line-height: 20px; }
.tutorials .tutorials_container .tutorial_card .tags .tag { background: #F2F4FF; padding: 0.3rem 0.6rem; margin: 0.2rem 0.2rem 0.2rem 0; display: inline-block; text-transform: capitalize; }

.tutorials .help_section_container { padding: 6rem 1rem; }
.tutorials .help_section_container h2 { padding-bottom: 1rem; }
.tutorials .help_section_container .description { padding-bottom: 1rem; }
.tutorials .help_section_container .links { display: flex; justify-content: space-between; align-items: center; }
.tutorials .help_section_container .links a { color: #333333; text-decoration: none; }
.tutorials .help_section_container .links a svg path { fill: #666666; }
.tutorials .help_section_container .links a:hover { color: #415EBF; }
.tutorials .help_section_container .links a:hover svg g, .tutorials .help_section_container .links a:hover svg path { fill: #415EBF; }

.features .features_container .hero { background: #2A3B93; color: white; padding: 3rem 1rem; padding: 6rem 1rem; }
.features .features_container .hero h1 { padding-bottom: 1rem; }
.features .features_container .hero .description { font-size: 1.5rem; line-height: 1.875rem; margin-top: 2rem; }
.features .features_container .feature_detail_container { padding: 4rem 1rem; }
.features .features_container .how_it_works_container { padding: 5rem 1rem; background: #F2F4FF; }
.features .features_container .how_it_works_container h2 { padding-bottom: 2rem; }
.features .features_container .how_it_works_container .how_it_works_content { box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.1); padding: 4rem; background-color: white; }
.features .features_container .reductions_container, .features .features_container .examples_container { padding-top: 3rem; padding-bottom: 4rem; }
.features .features_container .reductions_content, .features .features_container .examples_content { margin-top: 0.8rem; }
.features .features_container .examples_container { border-top: 1px solid #EBEBEB; }
.features .features_container .examples_container .examples_header { font-weight: 600; padding-bottom: 0.8rem; }
.features .features_container .examples_container ul { list-style-type: none; padding: 0; }
.features .features_container .examples_container li { padding: 7px 0; }
.features .features_container .examples_container li:first-child { padding-top: 0; }
.features .features_container .examples_container li a { color: #2A3B93; }
.features .features_container .examples_container li a:hover { color: #415EBF; }
.features .features_container .examples_container .github_link { display: flex; align-items: center; }
.features .features_container .examples_container .github_link svg { margin-right: 0.5rem; }
.features .features_container .examples_container .github_link svg path { fill: #2A3B93; }
.features .features_container .examples_container .github_link .more_examples_label { color: #2A3B93; font-weight: 600; }
.features .features_container .examples_container .github_link:hover { text-decoration: none; }
.features .features_container .examples_container .github_link:hover .more_examples_label { color: #415EBF; }
.features .features_container .examples_container .github_link:hover svg path { fill: #415EBF; }
.features .features_container .get_started_container { background: #2A3B93; padding: 5rem 1rem; color: white; }
.features .features_container .get_started_container .description { font-size: 1.5rem; line-height: 1.3; padding: 1.85rem 0 1.5rem; letter-spacing: -0.5px; }
.features .features_container .get_started_container .get_started_buttons a { background: white; border: 3px solid white; border-radius: 28px; color: #2A3B93; display: inline-block; font-weight: 600; margin: 0.5rem 0; padding: 0.8rem 0; text-align: center; width: 100%; }
.features .features_container .get_started_container .get_started_buttons a:hover { background: #F2F4FF; text-decoration: none; transition: 0.3s; border: 3px solid #F2F4FF; }
.features .features_container .get_started_container .get_started_buttons .tutorials_button a { background-color: transparent; color: white; }
.features .features_container .get_started_container .get_started_buttons .tutorials_button a:hover { background: #415EBF; }

.edit { position: absolute; right: 0; top: 2rem; z-index: 1; }

.edit a { border: 0; padding: 0; border-radius: 15px; background-color: white; box-shadow: 0 10px 20px 3px rgba(0, 0, 0, 0.1); height: 30px; width: 30px; text-align: center; transition: width 0.5s; position: relative; display: flex; align-items: center; justify-content: center; }
.edit a .text { width: auto; max-width: 0; white-space: nowrap; overflow: hidden; transition: max-width 0.3s linear; color: #2A3B93; text-decoration: none; }
.edit a:hover { width: 10.5rem; text-decoration: none; border: 0; }
.edit a:hover .text { max-width: 10rem; padding-left: 0.3rem; }

@media screen and (min-width: 1200px) { .container { max-width: 1180px; } }
.overlay_on { overflow-y: hidden; }

.overlay { position: fixed; display: none; width: 100%; height: 100%; top: 0; left: 0; right: 0; bottom: 0; background-color: rgba(0, 0, 0, 0.2); z-index: 3; cursor: pointer; }

.hero_container { background: #000C4C; padding: 4rem 1rem 5.5rem; color: white; }
.hero_container img { width: 100%; }
.hero_container .hero_content { position: relative; }
.hero_container .hero_content .edit { top: -3rem; right: 2rem; }
.hero_container .hero_content .edit svg path { fill: #EBEBEB; }
.hero_container .hero_content .edit a { background-color: rgba(255, 255, 255, 0.05); }
.hero_container .hero_content .edit a .text { color: #EBEBEB; }
.hero_container .description { font-size: 1.5rem; line-height: 1.3; padding: 1.85rem 0 1.5rem; letter-spacing: -0.5px; }
.hero_container .hero_buttons a { background: white; border: 3px solid white; border-radius: 28px; color: #2A3B93; display: inline-block; font-weight: 600; margin: 0.5rem 0; padding: 0.8rem 0; text-align: center; width: 100%; }
.hero_container .hero_buttons a:hover { background: #F2F4FF; text-decoration: none; transition: 0.3s; border: 3px solid #F2F4FF; }
.hero_container .hero_buttons .tutorials_button a { background-color: transparent; color: white; }
.hero_container .hero_buttons .tutorials_button a:hover { background: #2A3B93; }

.home .features_container { background: #F2F4FF; padding: 4rem 0; }
.home .features_container a { color: #2A3B93; border-bottom: 1px solid #2A3B93; }
.home .features_container a:hover { text-decoration: none; color: #415EBF; border-bottom: 1px solid #415EBF; }
.home .features_container .features { letter-spacing: -0.5px; margin: 2rem 0 3rem; }
.home .features_container .feature_icon { padding: 1rem 0; }
.home .features_container .feature_icon img { height: 60px; width: auto; }
.home .features_container .learn_more_link a { background: white; border: 3px solid white; border-radius: 28px; color: #2A3B93; display: inline-block; font-weight: 600; margin: 0.5rem 0; padding: 0.8rem 0; text-align: center; width: 100%; }
.home .features_container .learn_more_link a:hover { background: #F2F4FF; text-decoration: none; transition: 0.3s; border: 3px solid #F2F4FF; }
.home .features_container .learn_more_link a { width: 12.5rem; box-shadow: 0 10px 20px 3px rgba(0, 0, 0, 0.1); display: block; margin: 1rem auto; }
.home .features_container .learn_more_link a:hover { background: rgba(255, 255, 255, 0.7); border-color: rgba(255, 255, 255, 0.7); }

.home .install_vw_container { padding: 5rem 1rem; }
.home .install_vw_container a { color: #2A3B93; border-bottom: 1px solid #2A3B93; }
.home .install_vw_container a:hover { text-decoration: none; color: #415EBF; border-bottom: 1px solid #415EBF; }
.home .install_vw_container .description { padding: 0.5rem 0; }
.home .install_vw_container .links { padding-top: 1rem; }
.home .install_vw_container .links a { color: #2A3B93; font-weight: 600; display: inline-block; padding-bottom: 4px; border-bottom: 2px solid transparent; }
.home .install_vw_container .links a:hover { text-decoration: none; border-bottom: 2px solid #2A3B93; }
.home .install_vw_container .links a { margin-bottom: 0.8rem; }

.home .research_container { background: #F2F4FF; padding: 5rem 1rem; }
.home .research_container a { color: #2A3B93; border-bottom: 1px solid #2A3B93; }
.home .research_container a:hover { text-decoration: none; color: #415EBF; border-bottom: 1px solid #415EBF; }
.home .research_container .chart_icon { max-width: 100%; }
.home .research_container .research_description { position: relative; }
.home .research_container .research_description .content { position: relative; top: 45%; -webkit-transform: translateY(-50%); -ms-transform: translateY(-50%); transform: translateY(-50%); }
.home .research_container .research_description .description { padding: 1rem 0 0.8rem; }

@media screen and (max-width: 768px) { .home .research_container .chart_icon { padding-bottom: 3rem; } }
.four_oh_four .four_oh_four_container { padding: 1rem; height: calc(100vh - 7.5rem); }
.four_oh_four .four_oh_four_icon { height: 100%; }
.four_oh_four .header { font-size: 16rem; color: #2A3B93; font-weight: 300; }
.four_oh_four .description { font-weight: 300; margin-bottom: 3rem; }
.four_oh_four .report_issue_link a { background: white; border: 3px solid white; border-radius: 28px; color: #2A3B93; display: inline-block; font-weight: 600; margin: 0.5rem 0; padding: 0.8rem 0; text-align: center; width: 100%; }
.four_oh_four .report_issue_link a:hover { background: #F2F4FF; text-decoration: none; transition: 0.3s; border: 3px solid #F2F4FF; }
.four_oh_four .report_issue_link a { background-color: #2A3B93; border: 3px solid #2A3B93; color: white; box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1); }
.four_oh_four .report_issue_link a:hover { background: #415EBF; border: 3px solid #415EBF; }
.four_oh_four .return_home_link a { background: white; border: 3px solid white; border-radius: 28px; color: #2A3B93; display: inline-block; font-weight: 600; margin: 0.5rem 0; padding: 0.8rem 0; text-align: center; width: 100%; }
.four_oh_four .return_home_link a:hover { background: #F2F4FF; text-decoration: none; transition: 0.3s; border: 3px solid #F2F4FF; }
.four_oh_four .return_home_link a { box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1); }

.hidden_absolute { position: absolute; left: -10000px; top: auto; width: 1px; height: 1px; overflow: hidden; }
