---
layout: null
---

<!doctype html>
<html lang="en">
  {% include head.html %}
  <body class='download'>
    {% include header.html header_class="light" %}
    <div class="container content download_container">
      <h1>
        <span class="header">
          BibTeX record
        </span>
        {{page.key}}
      </h1>
      <div class="row justify-content-center">
        <div class="col-12">
          {% bibliography -q @*[key={{page.key}}] -T bib_detail_template%}

          <button class="download_bib_button" data-bib_key={{page.key}}>
            Download
          </button>
        </div>
      </div>
    </div>
  </body>
</html>
