<!doctype html>
<html lang="en">
  {% include head.html %}

  <body class="tutorial">
    {% include header.html %}

    <div class="hero">
      <div class="container">
        <div class="row">
          <div class="col-lg-6">
            <h1>
              Tutorials
            </h1>
            <a href="{{ 'tutorials' | relative_url }}">
              < Back to all tutorials
            </a>
          </div>
        </div>
      </div>
    </div>

    <div class="container content tutorial_container">
      <div class="edit">
        <a href="{{ site.github.repository_url }}/blob/source/{{ page.relative_path }}" target="_blank">
          {% include svg/icons/icon_edit.svg %}
          <div class="text">
            Edit on GitHub
          </div>
        </a>
      </div>
      <div class="row">
        <div class="col-lg-3">
          <ol class="tutorial_nav">
          </ol>
        </div>
        <div class="col-lg-9">
          {{ content }}
        </div>
      </div>
    </div>

    {% include bibliography.html %}
    {% include footer.html %}
    <div class="overlay">
    </div>

    <script src="{{ site.baseurl }}/assets/js/tutorial.js"></script>
  </body>
</html>
